APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel_boilerplate
DB_USERNAME=root
DB_PASSWORD=password

CACHE_ENABLED=true
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

MAIL_FROM_ADDRESS=info@example.com
MAIL_FROM_NAME=Info

FACEBOOK_APP_ID=
FACEBOOK_SECRET=

SLACK_WEB_HOOK_URL=

LOCAL_STORAGE=true

AWS_IMAGE_REGION=ap-northeast-1
AWS_KEY=YOUR_KEY
AWS_SECRET=YOUR_SECRET
AWS_SES_REGION=us-east-1
AWS_IMAGE_BUCKET=
GOOGLE_MAP_CONTACT=https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.3389202507688!2d105.85185491519228!3d21.01912078600363!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abeb3e1d97c7%3A0xc055df025ac5f1b3!2zQ8O0bmcgdHkgY-G7lSBwaOG6p24gVHLGsOG7nW5nIFRow6BuaCBKYXBhbg!5e0!3m2!1svi!2s!4v1575626826562!5m2!1svi!2s