body {
	font-family: 'Open Sans', sans-serif;
	background-color: #f7f7f7;
}
.form-control {
	&:focus {
		box-shadow: none !important;
	}
}
.invalid-feedback {
	margin-top: 8px;
	padding-left: 24px;
	font-size: 12px;
	line-height: 18px;
	text-align: left;
	display: block;
}
.form-control.is-invalid {
	background-image: url('../images/icon-invalid.svg');
	background-size: 12px 12px;
}
.navbar-dark {
	.navbar-toggler {
		border: none;
	}
	.toggle-menu-white {
		background-image: url('../images/icon-menu.svg');
	}
	.toggle-menu-color {
		background-image: url('../images/icon-menu-color.svg');
	}
}
.logo-img {
	margin-left: 48px;
}
.background-white {
	background-color: #ffffff;
}
.navbar-top-area {
	background-image: url('../images/bg-header-lg.svg');
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: cover;

	.dropdown:hover > .dropdown-menu {
		display: block;
	}
	.navbar {
		-webkit-transition: all 200ms;
		transition: all 200ms;
		padding-top: 0;
		padding-bottom: 0;

		
		.navbar-brand-white {
			display: block;
		}
		.navbar-brand-color {
			display: none;
		}
		.language-white {
			display: block;
		}
		.language-color {
			display: none;
		}

		&.navbar-fixed {
			position: fixed;
			background-color: #ffffff;
			top: 0%;
			left: 0;
			right: 0;
			padding-top: 0;
			padding-bottom: 0;
			box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
			z-index: 888;

			.navbar-brand-white {
				display: none;
			}
			.navbar-brand-color {
				display: block;
			}
			.language-white {
				display: none;
			}
			.language-color {
				display: block;
			}
			li {
				.nav-link {
					color: #9e9e9e !important;
				}
				&.active {
					a {
						color: #57AE5B !important;
					}
				}
			}
		}

		.navbar-brand {
			height: 32px;
			margin-right: 125px;
		}
		li {
			position: relative;

			&.nav-item {
				line-height: 88px;
				height: 96px;
				margin: 0 18px;

				&:hover {
					.menu-xl {
						display: block;
					}
				}
			}
			.nav-link {
				padding: 4px 3px !important;
				margin: 0;
				color: #ffffff !important;
				font-size: 16px;
				font-weight: normal;
				font-style: normal;
				cursor: pointer;

				i {
					margin-left: 10px;
				}
			}
			.menu-xl-child {
				li {
					line-height: 24px;
				}
			}
			&.active {
				a {
					color: #57AE5B !important;
				}
				li {
					a {
						color: #222222 !important;
					}
				}
			}
		}
		.icon-change-language {
			line-height: 32px;
			margin-right: 48px;
		}
	}
	.title-page {
		font-family: 'EB Garamond', serif;
		font-size: 48px;
		font-weight: 600;
		padding-left: 62px;
		line-height: 64px;
		color: #57AE5B;
		margin-top: 149px;
		padding-bottom: 120px;
	}
}
.menu-xl {
	position: absolute;
	top: 100%;
	z-index: 2;
	border-radius: 8px;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
	display: none;
}
.menu-xl-child {
	padding: 20px 32px;
	width: 234px;
	background-color: #ffffff;
	border-radius: 8px;

	li {
		list-style: none;
		
		a {
			margin: 0 !important;
			display: block;
			padding: 12px 0;
			color: #222222 !important;

			img {
				display: none;
				width: 16px;
				margin-right: 16px;
			}
			&:hover {
				text-decoration: none;

				img {
					display: inline-block;
				}
			}
			&.active {
				img {
					display: inline-block;
				}
			}
		}
	}
}
#language-menu-xl {
	right: 0;

	.menu-xl-child {
		width: 200px;
	}
}
#collapsibleNavbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	padding: 32px 24px;
	display: none;
	background-color: #ffffff;

	&.show {
		display: block;
	}
	.logo-menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 32px;

		a {
			display: block;
		}
		img {
			height: 24px;
		}
	}
	.menu-mb-parent {
		padding-left: 0;

		li {
			border-bottom: 1px solid #dedede;
			list-style: none;

			a {
				display: block;
				font-size: 16px;
				line-height: 25px;
				color: #222222;
				padding: 16px 16px 16px 0;
				font-weight: normal;
				cursor: pointer;

				&:hover {
					text-decoration: none;
					color: #57AE5B;
				}
				i {
					margin-left: 12px;
				}
				&.active {
					color: #57AE5B;
					font-weight: 600;
				}
			}
		}
	}
	.menu-mb-child {
		border-top: 1px solid #dedede;
		padding: 16px 24px;

		li {
			border: none;

			a {
				padding: 8px 0;
			}
		}
	}
}
#contact-page {
	.form-contact-area {
		width: 648px;
		margin-left: auto;
		margin-right: auto;
	}
	.form-contact {
		padding: 56px 0;

		.title-contact {
			font-size: 20px;
			line-height: 44px;
			color: #000000;
			font-weight: 600;
			margin-bottom: 48px;
		}
		.item-form-contact {
			margin-bottom: 24px;

			input {
				border-color: #dedede;
				border-radius: 8px;
				font-size: 16px;
				line-height: 25px;
				height: 50px;
				padding: 12px 24px 13px 24px;

				&::placeholder {
					color: rgba(0, 0, 0, 0.32);
				}
			}
			textarea {
				border-color: #dedede;
				padding: 12px 24px 13px 24px;
				font-size: 16px;
				line-height: 25px;
				border-radius: 8px;
				resize: none;

				&::placeholder {
					color: rgba(0, 0, 0, 0.32);
				}
			}
		}
		button {
			background-color: #ffffff;
			width: 200px;
			font-size: 16px;
			line-height: 25px;
			padding-top: 10px;
			padding-bottom: 9px;
			font-weight: 600;
			border-radius: 8px;
			color: #57AE5B;
			border: 2px solid #57AE5B;
			margin-top: 16px;

			&:hover {
				background-color: #57AE5B;
				color: #ffffff;
			}
		}
	}
	.contact-map {
		iframe {
			max-width: 100%;
			height: 657px;
		}
	}
}

#job-page {
	background-color: #ffffff;

	.content-job-page {
		width: 1124px;
		margin: auto;
		padding-top: 80px;
		padding-bottom: 88px;
	}
	.title-job-page {
		font-size: 32px;
		line-height: 51px;
		font-weight: bold;
		color: #222222;
		margin-bottom: 16px;
		text-align: center;
	}
	.des-job-page {
		font-size: 16px;
		line-height: 32px;
		color: #7e7e7e;
		text-align: center;
		margin: auto;
		width: 648px;
	}
	.btn-list-job {
		margin-top: 40px;
		text-align: center;

		.btn {
			font-size: 20px;
			line-height: 32px;
			color: #fff;
			padding: 12px 48px;
			background-color: #57AE5B;
			border-radius: 8px;
		}
	}
	.three-column-job {
		background-color: #F7F7F7;

		.title-three-job {
			font-family: 'EB Garamond', serif;
			font-size: 32px;
			line-height: 64px;
			font-weight: 600;
			color: #222222;
			margin-top: 88px;
			margin-bottom: 64px;
			text-align: center;
		}
		.title-reason-job {
			margin-bottom: 24px;
			display: flex;

			.col-left {
				align-self: flex-end;
			}
			img {
				margin-right: 32px;
			}
			span {
				font-size: 16px;
				line-height: 16px;
				font-weight: bold;
				color: #207227;
			}
		}
		.content-reason-job {
			font-size: 16px;
			line-height: 32px;
			color: #000000;
		}
	}
	.detail-jobs {
		background-image: url('../images/bg-detail-jobs.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0 150px;
	}
	.userfind-job {
		padding: 88px 226px;
		background-color: #57AE5B;

		.title-userfind-job {
			font-size: 32px;
			font-weight: 600;
			font-family: 'EB Garamond', serif;
			color: #ffffff;
			margin-bottom: 24p;
			text-align: center;
		}
		.des-userfind-job {
			width: 648px;
			font-size: 16px;
			line-height: 25px;
			color: #EFFCF1;
			text-align: center;
			margin-bottom: 64px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.skill-job {
		padding-bottom: 40px;
		display: flex;
		justify-content: space-between;

		&:last-child {
			padding-bottom: 0;
		}

		.item-skill-job {
			width: 381px;
		}
		.title-skill-job {
			display: flex;
			margin-bottom: 24px;

			img {
				margin-right: 30px;
			}
			span {
				color: #ffffff;
				font-size: 16px;
				line-height: 16px;
				align-self: flex-end;
			}
		}
		.des-skill-job {
			font-size: 16px;
			line-height: 32px;
			color: #EFFCF1;
		}
	}
	.title-feature-job {
		font-size: 32px;
		font-weight: 600;
		color: #222222;
		font-family: 'EB Garamond', serif;
		margin-top: 80px;
		margin-bottom: 64px;
		text-align: center;
	}
	.view-all-job {
		margin-top: 56px;
		text-align: center;

		.btn {
			font-size: 16px;
			line-height: 25px;
			font-weight: 600;
			border: 2px solid #57AE5B;
			border-radius: 8px;
			padding: 12px 54px;
		}
	}
}

.list-job {
	table {
		width: 100%;

		thead {
			th {
				font-size: 12px;
				line-height: 18px;
				font-weight: 600;
				color: #626262;
				padding: 16px 40px;
			}
		}
		tbody {
			tr {
				border-bottom: 16px solid #f7f7f7;
				background-image: url(../images/bg-white-radius.svg);
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;

				&:last-child {
					margin-bottom: 0;
				}
			}
			td {
				padding: 32px 40px;
			}
			.name-job {
				display: block;
				font-size: 20px;
				line-height: 32px;
				font-weight: bold;
				color: #000000;
				margin-bottom: 8px;
			}
			.company-job {
				font-size: 14px;
				line-height: 22px;
				color: #626262;
			}
		}
	}
}

footer {
	padding-bottom: 100px;
	background-color: #ffffff;
	border-top: 1px solid #DEDEDE;

	.logo-footer {
		padding-top: 96px;
		padding-bottom: 48px;
		img {
			height: 48px;
		}
	}
	.title-col-footer {
		font-size: 20px;
		line-height: 32px;
		font-weight: 600;
		margin-bottom: 16px;
		color: #222222;
	}
	.item-content-footer {
		display: block;
		font-size: 14px;
		line-height: 22px;
		color: #626262;
		margin-bottom: 10px;

		.title {
			color: #222222;
		}
	}
	.contact-us-social {
		padding-left: 0;

		li {
			display: inline-block;
			margin-right: 32px;

			&:last-child {
				margin-right: 0;
			}
			img {
				width: 32px;
				height: 32px;
			}
		}
	}
}

#list-job-page {
	.area-list-job {
		width: 1096px;
		margin: auto;
		background-color: #f7f7f7;
		padding-top: 56px;
		padding-bottom: 112px;
	}
	.form-search-job {
		padding: 56px 80px;
		margin-bottom: 50px;
		background-image: url('../images/bg-form.svg');
		background-position: center;
		background-size: cover;

		.title-search-job {
			font-size: 32px;
			line-height: 51px;
			font-weight: 600;
			color: #ffffff;
			text-align: center;
			margin-bottom: 50px;
		}
		form {
			display: flex;
			justify-content: space-between;
		}
		.search-keyword {
			width: 312px;
			position: relative;

			input {
				font-size: 16px;
				height: 48px;
				font-weight: 600;
				background-color: rgba(193, 234, 197, 0.56);
				padding: 12px 22px 11px 64px;
				width: 100%;
				border-radius: 8px;

				&::placeholder {
					color: #ffffff;
				}
			}
			img {
				position: absolute;
				top: 14px;
				left: 26px;
			}
		}
		.select-option-job {
			width: 200px;

			select {
				height: 48px;
				padding: 0 24px;
				font-size: 16px;
				color: #515151;
				font-weight: 600;
				border-radius: 8px;
			}
		}
		.btn-search-job {
			width: 154px;

			button {
				height: 48px;
				font-size: 16px;
				color: #57AE5B;
				font-weight: 600;
				background-color: #ffffff;
				border-radius: 8px;
				width: 100%;
			}
		}
	}
	.download-cv {
		font-size: 14px;
		line-height: 22px;
		color: #000000;
		margin-bottom: 90px;
	}
}

.pagination {
	justify-content: center;

	.page-item {
		.page-link {
			background: none;
			border: none;
			color: #626262;
		}
		&.active {
			.page-link {
				border: 1px solid #515151;
				border-radius: 4px;
				background-color: #ffffff;
				padding: 6px 12px;
				margin: 0 10px;
			}
		}
	}
}

#news-page {
	.pagination {
		margin-bottom: 160px;
	}
}

.cultural-job {
	padding-top: 122px;
	padding-bottom: 128px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.column-left {
		width: 424px;
		.des-curtural-job {
			font-size: 16px;
			line-height: 25px;
			color: #515151;
		}
	}
	.column-right {
		width: 536px;
	}
}

#job-detail-page {
	padding-top: 32px;
	padding-bottom: 112px;
	border-bottom: 1px solid #eee;
	background-color: #ffffff;

	.content-job-detail {
		width: 648px;
		margin: auto;
		.title-job-detail {
			font-size: 22px;
			line-height: 44px;
			font-weight: 600;
			color: #000000;
			margin-top: 56px;
			margin-bottom: 16px;
		}
		.des-job-detail {
			font-size: 16px;
			line-height: 32px;
			color: #000000;
		}
	}
	.container-detail-job {
		width: 1096px;
		margin: auto;
	}
	.area-apply {
		margin-top: 56px;
		padding: 55px 188px;
		border-radius: 8px;
		background-image: url('../images/bg-form.svg');
		background-size: cover;
		background-repeat: no-repeat;
		box-shadow: 0px 16px 32px rgba(87, 174, 91, 0.32);

		.title-apply {
			font-size: 32px;
			line-height: 51px;
			font-weight: 600;
			color: #ffffff;
			text-align: center;
			margin-bottom: 48px;
		}
		.input-apply-group {
			display: flex;
			justify-content: space-between;
			margin-bottom: 24px;

			input {
				height: 48px;
				width: 224px;
				padding-left: 24px;
				padding-right: 24px;
				color: #ffffff;
				background-color: rgba(193, 234, 197, 0.56);
				border-radius: 8px;

				&::placeholder {
					color: rgba(255, 255, 255, 0.64);
				}
			}
		}
		.btn-upload-file-apply {
			line-height: 48px;
			font-size: 16px;
			color: #ffffff;
			padding-left: 24px;
			padding-right: 24px;
			background-color: rgba(193, 234, 197, 0.56);
			border: 1px dashed #ffffff;
			margin-bottom: 32px;
			border-radius: 8px;
			cursor: pointer;
			position: relative;
		}
		#file_apply {
			display: none;
		}
		.btn-submit-apply {
			text-align: center;

			.btn {
				height: 48px;
				font-size: 16px;
				color: #57AE5B;
				font-weight: 600;
				background-color: #ffffff;
				border-radius: 8px;
				padding-left: 32px;
				padding-right: 32px;
				cursor: pointer;
			}
		}
	}
}

#news-page {
	background-color: #ffffff;
	border-bottom: 1px solid #eeeeee;
	.item-slide {
		text-decoration: none;
	}

	.item-slide-news {
		display: flex;
		justify-content: space-between;
	}
	.img-slide-news {
		width: 760px;
	}
	.content-slide-news {
		width: 496px;
		align-self: center;
	}
	.title-slide-news {
		font-size: 32px;
		line-height: 48px;
		font-weight: 600;
		font-family: "EB Garamond", serif;
		color: #222222;
		margin-bottom: 16px;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	.des-slide-news {
		font-size: 16px;
		line-height: 25px;
		color: #515151;
		margin-bottom: 24px;
		overflow: hidden;
	    display: -webkit-box;
	    -webkit-line-clamp: 3;
	    -webkit-box-orient: vertical;
	}
	.date-slide-news {
		font-size: 14px;
		line-height: 22px;
		color: #7E7E7E;
	}
	.list-news {
		padding-top: 74px;
	}
}
main {
	.slick-dots {
		background-color: #ffffff;
		text-align: left;
		line-height: 2px;
		bottom: -34px;
	
		li {
			height: 2px;
			width: 40px;
			margin-left: 0;
			margin-right: 16px;
	
			&:last-child {
				margin-right: 0;
			}
	
			button {
				background-color: #003C5F;
				height: 2px;
				width: 40px;
				padding: 0;
	
				&::before {
					content: '';
					height: 2px;
				}
			}
	
			&.slick-active {
				button {
					background-color: #57AE5B;
				}
			}
		}
	}
	.prev-arrow {
		position: absolute;
		top: 50%;
		left: -45px;
		cursor: pointer;
	}
	.next-arrow {
		position: absolute;
		top: 50%;
		right: -45px;
		cursor: pointer;
	}
	.item-news {
		.title-news {
			margin-bottom: 16px;
		}
	}
	.pagination {
		// margin-bottom: 160px;
	}
	.nav-tabs {
		justify-content: space-between;
		border: none;
		margin-bottom: 88px;

		.nav-item {
			text-align: center;

			.nav-link {
				font-size: 20px;
				line-height: 32px;
				color: #7E7E7E;
				padding: 0;
				border: none;

				&:before {
					content: '';
					display: block;
					padding-top: 8px;
					background-color: #ffffff;
					margin-bottom: 27px;
				}

				&:hover {
					border-color: #ffffff;
				}

				&.active {
					color: #222222;
					font-weight: 600;
					border: none;

					&:before {
						content: '';
						display: block;
						padding-top: 8px;
						background-color: #57AE5B;
						margin-bottom: 27px;
					}
				}
			}
		}
	}
}

.content-page {
	width: 1096px;
	margin: auto;
}
.item-news {
	margin-bottom: 64px;

	.cate-news {
		font-size: 12px;
		line-height: 18px;
		color: #626262;
		margin-top: 24px;
		margin-bottom: 16px;
	}
	.title-news {
		font-size: 20px;
		line-height: 32px;
		font-weight: bold;
		color: #222222;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	.des-news {
		font-size: 14px;
		line-height: 22px;
		color: #515151;
		margin-bottom: 16px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		max-height: 44px;
	}
	.date-news {
		font-size: 14px;
		line-height: 22px;
		color: #7e7e7e;
	}
	&:hover {
		text-decoration: none;
	}
}

.title-border-bottom {
	font-size: 32px;
	font-weight: 600;
	font-family: 'EB Garamond', serif;
	margin-bottom: 48px;

	&:after {
		content: '';
		display: block;
		margin-top: 6px;
		padding-top: 2px;
		width: 112px;
		background-color: #7BC47F;
	}
}

.tag-news {
	width: fit-content;
	font-size: 12px;
	line-height: 18px;
	color: #2F8132;
	padding: 7px 16px;
	background-color: #C1EAC5;
	border-radius: 8px;
	margin-bottom: 24px;
	display: block;

	&:hover {
		text-decoration: none;
		color: #2F8132;
	}
}

.tags-secondary {
	padding: 7px 16px;
	font-size: 12px;
	line-height: 18px;
	color: #7e7e7e;
	background-color: #f7f7f7;
	border-radius: 8px;
}

#news-detail-page {
	.area-detail-news {
		padding-top: 56px;
		padding-bottom: 48px;
		width: 648px;
		margin: auto;
	}
	.content-detail-news {
		padding-bottom: 48px;
		border-bottom: 1px solid #dedede;
		color: #000000;
	}
	.share-detail-news {
		margin-top: 40px;
	}
	.news-social {
		padding-left: 0;

		li {
			display: inline-block;
			padding: 4px 16px 4px 0;

			&:last-child {
				padding-right: 0;
			}
		}
	}
	.relation-news {
		background-color: #f7f7f7;
		padding-top: 72px;
		padding-bottom: 73px;

		.title-relation-news {
			margin-bottom: 52px;
			font-size: 32px;
			font-weight: 600;
			font-family: "EB Garamond", serif;
			color: #222222;
			text-align: center
		}
		.item-news {
			padding: 0 20px;
		}
	}
	.slick-dots {
		text-align: center;
		background-color: #f7f7f7;
		border-radius: 8px;
	}
	.slick-slide {
		transition: transform 0.3s ease-out;

		&:hover {
			transform: translateY(-16px);
		}
	}
	.item-news {
		margin-bottom: 10px;

		&:focus {
			outline: none;
		}
		.img-news {
			border-radius: 8px 8px 0 0;

			img {
				width: 100%;
			}
		}
		.wrapper {
			box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
			overflow: hidden;
			border-radius: 8px;
		}
		.content-news {
			padding: 24px;
			background-color: #ffffff;
			

			.cate-news {
				margin-top: 0;
			}
			.title-news {
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				margin-bottom: 16px;
			}
			.des-news {
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
		}
	}

	.slide-relation-news {
		.slick-list {
			padding-top: 16px;
		}
	}
}

.no-title-page {
	.title-page {
		display: none;
	}
	nav {
		padding-bottom: 27px;
	}
}

.modal-backdrop {
	background-color: #00263C;
	&.show {
		opacity: 0.88;
	}
}


.icon-down-nav {
	position: absolute;
	bottom: 35px;
	left: calc(50% - 12px);
}
.top-page-slide {
	padding-top: 150px;
	padding-bottom: 150px;

	.item-top-slide {
		display: flex;
		align-items: center;
		.text-slide {
			width: 742px;
			margin-left: calc(50% - 658px);
			margin-right: 70px;
		}

		.title {
			font-family: "EB Garamond", serif;
			font-weight: 600;
			font-size: 32px;
			line-height: 64px;
			text-transform: uppercase;
			margin-bottom: 16px;
			color: #ffffff;
		}
		.content {
			font-family: "EB Garamond", serif;
			font-weight: 600;
			font-size: 72px;
			line-height: 84px;
			color: #57AE5B;
			margin-bottom: 40px;
		}
		.description {
			font-size: 20px;
			line-height: 32px;
			color: #95B5C8;
			margin-bottom: 56px;

			span {
				text-decoration: underline;
				font-weight: bold;
			}
		}
		a {
			display: flex;
			color: #000000;
			align-items: center;
			background-color: #57AE5B;
			justify-content: center;
			color: #000000;
			text-decoration: none;
			
			span {
				margin-left: 10px;
			}
		}
		.img-top-slide {
			width: calc(50% - 154px);
			position: relative;
			.top-bg {
				background: rgba(0, 13, 0, 0.16);
				position: absolute;
				top: 24px;
				left: -24px;
				z-index: 1;
				width: 100%;
				height: 100%;
			}
			.top-slider {
				z-index: 100
			}
		}
	}
	.slick-dots {
		background-color: initial;
		background-color: initial;
		position: relative;
		top: inherit;
		left: inherit;
		bottom: inherit;
		right: inherit;
		margin-top: 48px;
	}
}
.top-field {
	padding-top: 135px;
	padding-bottom: 160px;
	background-image: url(/images/home/square-services.svg);
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: left 10.13513514% bottom 86px;

	.title-top-field {
		margin-bottom: 24px;
		font-family: "EB Garamond", serif;
		font-weight: 600;
		font-size: 56px;
		line-height: 64px;
		color: #222222;
		text-align: center;
	}
	.des-top-field {
		font-size: 20px;
		line-height: 32px;
		color: #626262;
		text-align: center;
		margin-bottom: 52px;
	}
	.list-top-field {
		padding: 16px 40px 0 40px;
	}
	.title-topfield {
		display: block;
		font-family: "EB Garamond", serif;
		font-weight: 600;
		font-size: 24px;
		color: #222222 !important;
		margin-top: 16px;
		margin-bottom: 24px;
		text-align: center;

		img {
			margin-left: 10px;
			display: none;
		}
	}
	.des-topfield {
		font-size: 16px;
		line-height: 25px;
		text-align: center;
		color: #626262;
		height: 75px;
	}
	.item-top-field {
		display: block;
		padding: 40px 40px 56px 40px;
		border-radius: 100px 10px 100px 10px;
		border: 1px solid #eeeeee;
		transition: transform 0.3s ease-out;
		height: 100%;
		.img-topfield {
			img {
				max-width: 220px;
				min-height: 248px;
			}
		}

		&:hover {
			transform: translateY(-16px);
			box-shadow: 0px 32px 56px rgba(0, 0, 0, 0.08);
			.title-topfield {
				color: #57AE5B !important;
				text-decoration: none;

				img {
					display: inline;
				}
			}
		}
	}
}

.top-content {
	padding-top: 140px;
	background-color: #F8FAFE;
	position: relative;
	.bg-top-content-right {
		position: absolute;
		top: 0;
		right: -40px;
		transform: translate(0, -50%);
		img {
			width: 204px;
			height: 206px;
		}
	}

	.bg-top-content-left {
		position: absolute;
		top: 0;
		left: 4.0540540541%;
		transform: translate(0, -50%);
		img {
			width: 63px;
			height: 63px;
		}
	}
}
.preview-fileupload {
	display: none;
	position: absolute;
	top: 0;
	right: 24px;
}
.top-intro {
	display: flex;
	margin-bottom: 173px;
	justify-content: space-between;
	align-items: center;
}
.text-top-intro {
	width: 500px;

	.title-1 {
		font-family: "EB Garamond", serif;
		font-weight: 600;
		font-size: 56px;
		color: #222222;
		margin-bottom: 15px;
		line-height: 56px;
	}
	.name {
		font-family: "EB Garamond", serif;
		font-weight: 600;
		font-size: 56px;
		line-height: 56px;
		color: #ffffff;
		padding: 10px 20px;
		width: fit-content;
		background: #57AE5B;
		border-radius: 8px;
		margin-left: -20px;
		margin-bottom: 20px;
	}
	.title-2 {
		font-family: "EB Garamond", serif;
		font-weight: 600;
		font-size: 56px;
		color: #222222;
		margin-bottom: 56px;
		line-height: 56px;
	}
	.description {
		font-size: 16px;
		line-height: 25px;
		color: #626262;
		margin-bottom: 56px;
	}
	.btn {
		padding: 12px 38px;
		background-color: #ffffff;
		border-width: 2px;
		border-radius: 8px;
		
		.btn-no-hover {
			display: inline-block;
		}
		.btn-hover {
			display: none;
		}

		&:hover {
			background-color: #28a745;

			.btn-no-hover {
				display: none;
			}
			.btn-hover {
				display: inline-block;
			}
		}
	}
}
.img-top-intro {
	position: relative;
	.bg-square-top, .bg-square-bottom, .bg-square-center {
		position: absolute;
		z-index: 30;
	}
	.bg-square-top {
		width: 73px;
		height: 73px;
		top: -16px;
		left: -16px;
	}
	.bg-square-bottom {
		width: 140px;
		bottom: -32px;
		right: -32px;
	}

	.bg-square-center {
		width: 63px;
		bottom: -120px;
		right: 135px;
	}

	.img-intro-after {
		position: absolute;
		top: -113px;
		right: -88px;
		z-index: 50;
	}
	.img-intro-before {
		width: 630px;
		position: relative;
		z-index: 100;
	}
}
.top-sumarry {
	padding: 48px 0;
	margin-bottom: 88px;
	background-color: #ffffff;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
	border-radius: 8px;

	.col-top-sumary {
		text-align: center;

		.top-summary-thumb {
			max-height: 65px;
			height: 100%;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			flex-direction: row;
			margin-bottom: 32px;
			img {
				max-height: 100%;
			}
		}

		.number {
			font-weight: bold;
			font-size: 72px;
			line-height: 100%;
			margin-bottom: 24px;
		}
		.name {
			font-size: 20px;
			line-height: 32px;
			color: #515151;
		}
	}
}
.title-top-news {
	font-family: "EB Garamond", serif;
	font-weight: 600;
	font-size: 56px;
	line-height: 64px;
	color: #222222;
	text-align: center;
	margin-bottom: 24px;
}
.slide-top-news {
	margin: 0 100px;
	.slick-track {
		display: flex;
		padding-bottom: 56px;
	}

	.item-news {
		padding: 0 12px;
		margin-bottom: 0;
		height: inherit;
		.wrapper {
			box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
			overflow: hidden;
			border-radius: 8px;
			background-color: #ffffff;
			height: 100%;
		}

		.content-news {
			padding: 24px;

			.title-news {
				font-size: 16px;
				line-height: 25px;
				margin-bottom: 24px;
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
		}
		.img-news {
			border-radius: 8px;
			overflow: hidden;
		}
	}
	.slick-list {
		padding-top: 16px;
	}
	.slick-slide {
		transition: transform 0.3s ease-out;

		&:hover {
			transform: translateY(-16px);
		}
	}
}
.top-news {
	padding-bottom: 88px;

	.nav-tabs {
		padding: 0 186px;
		margin-bottom: 64px;
		display: flex;

		.nav-item {
			.nav-link {
				display: inline;
				color: #626262;

				&.active {
					background-color: initial;
					border-bottom: 2px solid #57AE5B;

					&:before {
						display: none;
					}
				}
				&:before {
					display: none;
				}
			}
		}
	}
}
.btn-see-more-news {
	font-size: 16px;
	line-height: 25px;
	padding: 12px 54px;
	border-radius: 8px;
	text-align: center;
	background-color: #ffffff;
	border-width: 2px;
}
.partner-intro {
	padding-top: 112px;
	padding-bottom: 180px;
	border-bottom: 1px solid #dedede;

	.title-border-bottom {
		font-size: 32px;
		font-weight: 600;
		font-family: "EB Garamond", serif;
		color: #222222;
		margin-top: 0;
		text-align: center;
		margin-bottom: 32px;

		&::after {
			margin: auto;
		}
	}
	.des-partner-intro {
		width: 884px;
		font-size: 16px;
		line-height: 25px;
		color: #515151;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 100px;
	}
	.slick-dots {
		text-align: center;
		bottom: -64px;
	}
}
.top-partners {
	background-color: #ffffff;

	.partner-intro {
		padding-top: 88px;
		padding-bottom: 132px;
		border-bottom: none;

		.title-border-bottom {
			font-size: 56px;
			line-height: 64px;
			margin-bottom: 112px;

			&:after {
				display: none;
			}
		}
	}
}
.top-consultation {
	padding-top: 88px;
	padding-bottom: 104px;
	background-image: url('../images/bg-form-square.svg');
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;

	.title {
		font-family: "EB Garamond", serif;
		font-weight: 600;
		font-size: 56px;
		line-height: 64px;
		color: #ffffff;
		margin-bottom: 16px;
	}
	.description {
		font-size: 16px;
		line-height: 25px;
		color: #EFFCF1;
		margin-bottom: 40px;
	}
	.form-consultation {
		display: flex;
		justify-content: center;
		align-items: flex-start;

		input {
			width: 312px;
			margin-right: 24px;
			height: 48px;
			padding-left: 24px;
			padding-right: 24px;
			color: #ffffff;
			background-color: rgba(193, 234, 197, 0.56);
			border-radius: 8px;

			&::placeholder {
				color: rgba(255, 255, 255, 0.64);
			}
		}
		.btn {
			height: 48px;
			width: 154px;
			background-color: #ffffff;
			border-radius: 8px;
			box-shadow: 0px 2px 0px #36883A, inset 0px 2px 0px rgba(0, 0, 0, 0.08);
			color: #57AE5B;
		}
	}
}
.number-detail-job {
	display: flex;

	.item-number-detail {
		display: flex;
		align-items: center;
		margin-right: 48px;
		font-family: "Open Sans", serif;

		&:last-child {
			margin-right: 0;
		}

		span {
			margin-left: 16px;
			color: #95B5C8;
			font-size: 16px;
			line-height: 25px;
		}
	}
}
.display-md {
	display: none;
}
.list-job-mb {
	display: none;
}

.cultural-job {
	.nav-tabs {
		margin-bottom: 24px;

		.nav-item {
			color: #9E9E9E;
			text-align: left;
			padding: 8px 32px 8px 0;
			font-weight: 600;
			font-size: 20px;

			&:hover {
				border-color: #ffffff;
			}
			&.active {
				color: #57AE5B;
				border-color: #ffffff;
			}
		}
	}
}
.primary-value-slide {
	.prev-arrow {
		top: initial;
		bottom: 88px;
    z-index: 2;
		left: calc(100% - 648px);
		width: 200px;
	}
	.next-arrow {
		top: initial;
		bottom: 88px;
    z-index: 2;
		left: 648px;
		width: 200px;
	}
}
.title-news-detail {
	font-size: 40px;
	line-height: 64px;
	color: #222222;
	font-weight: bold;
	margin: 24px 0;
}
.date-detail-news {
	font-size: 14px;
	line-height: 22px;
	color: #7e7e7e;
	margin-bottom: 24px;
}
.pagination .page-item .page-link {
	&:focus {
		outline: none;
		box-shadow: none;
	}
}

@media screen and (min-width: 1440px) {
	.container {
		max-width: 1316px;
		padding: 0;
	}
	.office-column {
		padding-left: 64px;

		.content-col-footer {
			width: 80%;
		}
	}
	.connect-us {
		margin-left: -20px;
	}
	.slide-relation-news {
		width: 1088px;
		margin-left: auto;
		margin-right: auto;
	}
	#news-page {
		.list-news {
			.col-xl-4 {
				padding: 0 12px;
			}
		}
	}
	.navbar-top-area .navbar .navbar-brand {
		padding: 0;
	}
	.logo-img {
		height: 32px;
	}
	.img-topfield {
		text-align: center;
		
		img {
			width: 220px;
		}
	}
	.list-top-field {
		.col-md-4 {
			padding: 0 27px;
		}
	}
	.partner-slide {
		.slick-slide {
			padding: 0 50px;
		}
	}
	.top-page-slide {
		.slick-slide {
			.img-top-slide {
				display: none;
			}

			&.slick-current {
				.img-top-slide {
					display: block;
				}
			}
		}
	}
	.top-page-slide .item-top-slide a {
		width: 210px;
		height: 48px;
	}
	.detail-job-left {
		display: flex;
		margin-right: 48px;
	}
	.detail-job-right {
		display: flex;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
	#news-page {
		.nav-tabs {
			margin-bottom: 60px;
		}
		.item-news {
			margin-bottom: 48px;
		}
		.pagination {
			margin-top: 8px;
			margin-bottom: 88px;
		}
	}
	#news-detail-page  {
		.slick-dots {
			bottom: -56px;
		}
		.relation-news {
			padding-top: 84px;
			padding-bottom: 115px;

			.item-news {
				padding: 0 12px;
			}
		}
		
	}
	.office-column {
		padding-left: 50px;

		.content-col-footer {
			width: 100%;
		}
	}
	.connect-us {
		margin-left: 0;
	}
	.col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
	}
	.container {
		max-width: 936px;
		padding-left: 0;
		padding-right: 0;
	}
	.navbar-top-area {
		background-image: url('../images/bg-header-md.svg');
	}
	#job-detail-page {
		.container-detail-job {
			width: 936px;
		}
		.area-apply {
			padding: 48px 108px;
			margin-top: 48px;

			.title-apply {
				margin-bottom: 40px;
			}
			.btn-upload-file-apply {
				margin-bottom: 3px;
			}
		}
	}
	.logo-img {
		height: 24px;
		line-height: 24px;
	}
	.navbar-top-area {
		.title-page {
			font-size: 40px;
			line-height: 64px;
			margin-top: 120px;
			padding-bottom: 80px;
		}
	}
	.navbar-top-area {
		.navbar {
			padding-top: 24px;

			.navbar-brand {
				margin-right: 62px;
			}
		}
	}
	#contact-page {
		.contact-map {
			iframe {
				height: 465px;
			}
		}
	}
	footer {
		.title-col-footer {
			font-size: 16px;
		}
	}
	#news-page {
		.img-slide-news {
			width: 534px;
		}
		.content-slide-news {
			width: 376px;
		}
		.prev-arrow {
			left: -30px;
		}
		.next-arrow {
			right: -30px;
		}
	}
	#list-job-page {
		.area-list-job {
			width: 936px;
			padding-bottom: 72px;
		}
		.form-search-job {
			padding: 40px 57px 47px 57px;

			.search-keyword {
				width: 264px;
			}
			.facilty {
				width: 170px;
			}
			.workarea {
				width: 163px;
			}
		}
	}
	.list-job table {
		thead {
			th {
				padding: 16px 20px;

				&:first-child {
					width: 50%;
				}
			}
		}
		tbody {
			td {
				padding: 32px 24px;
				font-size: 14px;
	
				&:first-child {
					padding-left: 40px;;
				}
				.name-job {
					font-size: 16px;
				}
			}
		}
	}
	#job-page {
		.content-job-page {
			width: 936px;
			padding-top: 88px;

			.title-three-job {
				margin-top: 0;
			}
		}
		.userfind-job {
			padding: 88px 80px 80px 80px;
		}
		.title-feature-job {
			margin-top: 0;
		}
		.view-all-job {
			margin-top: 30px;
		}
		.detail-jobs {
			.content-job-page {
				padding-bottom: 73px;
			}
		}
	}
	.cultural-job {
		padding-top: 0;
		padding-bottom: 0;

		.column-right {
			width: 454px;
		}
	}
	
	// cut field page
	.primary-value-slide {
		.prev-arrow {
			width: 24px;
			left: 550px;
		}
		.next-arrow {
			width: 24px;
		}
	}
	.partner-intro {
		padding-top: 0;
		padding-bottom: 120px;

		.des-partner-intro {
			margin-bottom: 40px;
		}
	}
	.top-field {
		padding-top: 88px;
		background-position: left 2.489019034% bottom 67px;
		.item-top-field {
			padding-left: 32px;
			padding-right: 32px;
			.img-topfield {
				img {
					max-width: 170px;
					min-height: 192px;
				}
			}
		}
		.title-top-field {
			font-size: 40px;
			line-height: 64px;
			margin-bottom: 8px;
		}
		.des-top-field {
			font-size: 16px;
			margin-bottom: 40px;
		}
		.title-topfield {
			font-size: 20px;
		}
	}
	.top-intro {
		margin-bottom: 88px;
	}
	.text-top-intro {
		.title-1 {
			font-size: 40px;
			line-height: 40px;
		}
		.name {
			font-size: 40px;
			line-height: 40px;
		}
		.title-2 {
			font-size: 40px;
			line-height: 44px;
			margin-bottom: 40px;
		}
	}
	.top-content {
		padding-top: 88px;
		.bg-top-content-right {
			display: none;
		}
		.bg-top-content-left {
			top: 23px;
			left: -18px;
			transform: none;
		}
	}
	.text-top-intro {
		padding-top: 0;
		width: 375px;
		margin-right: 56px;

		.description {
			margin-bottom: 40px;
		}
	}
	.img-top-intro {
		width: 487px;
		position: relative;

		.bg-square-top, .bg-square-bottom, .bg-square-center {
			position: absolute;
			z-index: 30;
		}
		.bg-square-top {
			width: 73px;
			height: 73px;
			top: -16px;
			left: -16px;
		}
		.bg-square-bottom {
			width: 103px;
			bottom: -23px;
			right: -16px;
		}
	
		.bg-square-center {
			width: 48px;
			bottom: -124px;
			right: 193px;
		}
	
		.img-intro-after {
			width: 131px;
			position: absolute;
			top: -63px;
			right: -56px;
			z-index: 50;
		}
		.img-intro-before {
			width: 630px;
			position: relative;
			z-index: 100;
		}
	}
	.top-sumarry {
		padding: 40px 0;
		margin-bottom: 88px;
		.col-top-sumary {
			.number {
				font-size: 40px;
				margin-bottom: 16px;
			}

			.name {
				font-size: 16px;
			}
	
			.top-summary-thumb {
				max-height: 40px;
				margin-bottom: 24px;
				img {
					max-height: 40px;
				}
			}
		}
	}
	.item-news {
		.cate-news {
			margin-top: 0;
			margin-bottom: 8px;
		}
		.title-news {
			margin-bottom: 16px !important;
		}
	}
	.slide-top-news .item-news {
		padding: 0 12px;
	}
	
	.top-news {
		padding-bottom: 88px;

		.title-top-news {
			font-size: 40px;
		}
		.nav-tabs {
			padding: 0 20px;
		}
	}
	.slide-top-news {
		margin: 0;
	}
	.top-partners {
		.partner-intro {
			.title-border-bottom {
				font-size: 40px;
				margin-bottom: 40px;
			}
		}
	}
	.top-consultation {
		.title {
			font-size: 40px;
			line-height: 40px;
			margin-bottom: 16px;
		}
	}
	.top-page-slide {
		.slick-slide {
			.img-top-slide {
				display: none;
			}

			&.slick-current {
				.img-top-slide {
					display: block;
				}
			}
		}
		.slick-dots {
			left: calc(50% - 468px);
			bottom: 250px;
		}
		.item-top-slide {
			.text-slide {
				width: 578px;
				margin-left: calc(50% - 468px);
				margin-right: 78px;

				.title {
					font-size: 24px;
					line-height: 24px;
				}
				.content {
					font-size: 55px;
					line-height: 56px;
					margin-bottom: 16px;
				}
				.description {
					font-size: 16px;
					line-height: 31px;
					margin-bottom: 40px;
				}
				a {
					width: 210px;
					height: 48px;
				}
			}
			.img-top-slide {
				width: calc(50% - 178px);
			}
		}

		.slick-dots {
			background-color: initial;
			background-color: initial;
			position: relative;
			top: inherit;
			left: inherit;
			bottom: inherit;
			right: inherit;
			margin-top: 40px;
		}
	}
	.detail-job-left {
		display: flex;
		margin-right: 48px;
	}
	.detail-job-right {
		display: flex;
	}
	#list-job-page .download-cv {
		margin-bottom: 56px;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1250px) {
	.navbar-top-area {
		background-position: bottom right -100px;
	}
	.navbar-top-area .navbar li a {
		margin: 0 10px;
	}
	.navbar-top-area .navbar .navbar-brand {
		margin-right: 40px;
		padding-top: 0;
	}
}

@media screen and (max-width: 1023px) {
	.navbar-top-area .navbar .navbar-brand {
		padding: 0;
	}
	.navbar-dark .navbar-toggler {
		&:focus {
			outline: none;
		}
	}
	.navbar-collapse {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		background-color: #eeeeee;
	}
}

@media screen and (min-width: 992px) and (max-width: 1023px) {
	.navbar-expand-lg .navbar-collapse {
    display: none !important;
	}
	.navbar-top-area .navbar {
		display: flex;
    justify-content: space-between;
	}
	.navbar-dark .navbar-toggler {
		display: block;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.navbar-top-area {
		.navbar {
			.toggle-menu-white {
				display: block;
			}
			.toggle-menu-color {
				display: none;
			}
			&.navbar-fixed {
				padding-top: 25px;
				padding-bottom: 25px;

				.toggle-menu-white {
					display: none;
				}
				.toggle-menu-color {
					display: block;
				}
			}
		}
	}
	#job-detail-page {
		padding-top: 56px;
		padding-bottom: 56px;

		.content-job-detail {
			.title-job-detail {
				margin-top: 0;
			}
		}
	}
	#news-page {
		.list-news {
			margin-left: -7px;
			margin-right: -7px;

			.col-xl-4 {
				padding: 0 8px;
			}
		}
		.item-news {
			margin-bottom: 48px;

			.title-news {
				font-size: 16px;
			}
		}
		.pagination {
			margin-bottom: 56px;
		}
	}
	#news-detail-page {
		.slick-slide {
			&:hover {
				transform: initial;
			}
		}
		.prev-arrow {
			left: -15px;
			z-index: 2;
		}
		.next-arrow {
			right: -15px;
			z-index: 2;
		}
		.relation-news {
			padding-top: 48px;
			.title-relation-news {
				margin-bottom: 16px;
			}
			.item-news {
				padding: 0 12px;
			}
		}
	}
	footer {
		.title-col-footer {
			font-size: 16px;
		}
	}
	.container {
		max-width: 736px;
		padding-left: 0;
		padding-right: 0;
	}
	.content-page {
		width: 736px;
	}
	main {
		.prev-arrow {
			left: -30px;
		}
		.next-arrow {
			right: -30px;
		}
	}
	.navbar-top-area {
		background-image: url('../images/bg-header-sm.svg');
	}
	.navbar-top-area .navbar {
		padding-top: 20px;

		.navbar-brand {
			height: 24px;
		}
	}
	.logo-img {
		margin-left: 8px;
		height: 24px;
	}
	.navbar-top-area {
		.title-page {
			font-size: 32px;
			line-height: initial;
			margin-top: 58px;
			padding-bottom: 48px;
			padding-left: 24px;
		}
	}
	#contact-page {
		.form-contact-area {
			width: 610px;
		}
		.form-contact {
			padding-top: 48px;
			padding-bottom: 56px;
		}
		.contact-map {
			iframe {
				height: 267px;
			}
		}
	}
	footer {
		padding-bottom: 0;

		.container {
			padding: 0;
		}
		.logo-footer {
			padding-top: 64px;
			padding-bottom: 40px;
		}
		.col-footer {
			padding-bottom: 56px;
		}
	}
	#news-page {
		.img-slide-news {
			width: 360px;
		}
		.content-slide-news {
			width: 359px;
		}
		.title-slide-news {
			font-size: 24px;
			line-height: 32px;
		}
		.prev-arrow {
			z-index: 2;
			left: 0;
			padding: 12px 8px;
			background-color: #eee;
			top: 32%;
		}
		.next-arrow {
			z-index: 2;
			right: 0;
			padding: 12px 8px;
			background-color: #eee;
			top: 32%;
		}
	}
	#job-detail-page {
		.container-detail-job {
			width: calc(100% - 48px);
			margin-left: 24px;
			margin-right: 24px;
		}
		.area-apply {
			padding: 40px 64px;

			.input-apply-group {
				display: block;

				input {
					width: 49%;

					&:first-child {
						float: left;
						margin-bottom: 24px;
					}
					&:nth-child(2) {
						float: right;
						margin-bottom: 24px;
					}
					&:nth-child(3) {
						float: left;
						margin-bottom: 24px;
					}
				}
				.btn-upload-file-apply {
					float: right;
					width: 49%;
				}
			}
		}
		.display-md {
			display: block;
		}
		.hidden-md {
			display: none;
		}
	}
	#list-job-page {
		.download-cv {
			margin-bottom: 56px;
		}
		.pagination {
			margin-bottom: 0;
		}
		.area-list-job {
			width: 736px;
			padding-top: 48px;
			padding-bottom: 56px;
		}
		.form-search-job {
			padding: 40px 62px;
			margin-bottom: 36px;
			
			.title-search-job {
				margin-bottom: 32px;
			}
			form {
				display: block;
			}
			.search-keyword {
				width: 610px;
				margin-bottom: 23px;
			}
			.facilty {
				display: inline-flex;
				width: 180px;
				margin-right: 20px;
			}
			.workarea {
				display: inline-flex;
				width: 180px;
				margin-right: 20px;
			}
			.btn-search-job {
				display: inline-flex;
				width: 202px;
			}
		}
	}
	.list-job table {
		thead {
			th {
				padding: 16px 9px;

				&:first-child {
					width: 48%;
				}
			}
		}
		tbody {
			td {
				padding: 32px 16px;
				font-size: 14px;
	
				.name-job {
					font-size: 16px;
				}
			}
		}
	}
	#job-page {
		.content-job-page {
			width: 736px;
		}
		.userfind-job {
			padding: 72px 64px 70px 64px;

			.des-userfind-job {
				width: initial;
			}
		}
	}
	
	// cut field page
	.des-leader {
		> div {
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
		
			&:first-child {
				display: none;
			}
		}
	}
	.primary-value-slide {
		.prev-arrow {
			width: 24px;
			top: 15px;
			left: initial;
			right: 78px;
			bottom: initial;
		}
		.next-arrow {
			width: 24px;
			top: 15px;
			left: initial;
			right: 0;
			bottom: initial;
		}
	}
	.partner-intro {
		padding-top: 0;
		padding-bottom: 80px;

		.slick-dots {
			bottom: -40px;
		}
	}
	.navbar-top-area {
		background-image: url('../images/bg-header-top-sm.svg');
	}
	.top-page-slide {
		padding-top: 88px;

		.item-top-slide {
			.text-slide {
				width: 360px;
				margin-right: 18px;
				margin-left: calc(50% - 368px);

				.title {
					font-size: 24px;
					line-height: 24px;
				}
				.content {
					font-size: 48px;
					line-height: 56px;
					margin-bottom: 8px;
				}
				.description {
					font-size: 16px;
					line-height: 31px;
					width: 80%;
				}
				a {
					width: 210px;
					height: 48px;
				}
			}
			.img-top-slide {
				width: calc(50% - 8px);
			}
		}
		.slick-dots {
			background-color: initial;
			background-color: initial;
			position: relative;
			top: inherit;
			left: inherit;
			bottom: inherit;
			right: inherit;
			margin-top: 40px;
		}
	}
	.top-field {
		padding-top: 64px;
		padding-bottom: 64px;
		background-image: none;
		
		.item-top-field {
			padding-left: 32px;
			padding-right: 30px;
			.img-topfield {
				img {
					max-width: 140px;
					min-height: 160px;
				}
			}
		}
		.title-top-field {
			font-size: 32px;
			line-height: 32px;
			margin-bottom: 16px;
		}
		.des-top-field {
			font-size: 16px;
			width: 80%;
			margin: auto;
			margin-bottom: 32px;
		}
		.list-top-field {
			padding: 16px 0 0;
		}
		.title-topfield {
			font-size: 20px;
		}
		.des-topfield {
			font-size: 14px;
			line-height: 22px;
			height: 88px;
			overflow: hidden;
		}
	}
	#top-page {
		overflow: hidden;
	}
	.top-intro {
		margin-bottom: 88px;
	}
	.img-top-intro {
		width: 397px;
		.bg-square-top, .bg-square-bottom, .bg-square-center {
			position: absolute;
			z-index: 30;
		}
		.bg-square-top {
			display: none;
		}
		.bg-square-bottom {
			width: 103px;
			bottom: -38px;
			right: -51px;
		}
	
		.bg-square-center {
			width: 48px;
			bottom: -124px;
			right: 193px;
		}
	
		.img-intro-after {
			width: 131px;
			position: absolute;
			top: -63px;
			right: -56px;
			z-index: 50;
		}
		.img-intro-before {
			width: 630px;
			position: relative;
			z-index: 100;
		}
	}
	.top-content {
		padding-top: 88px;
		.bg-top-content-right ,.bg-top-content-left {
			display: none;
		}

		.bg-top-content-left {
			display: block;
			top: 62px;
			right: 27.04081633%;
			left: inherit;
			width: 26px;
		}
	}
	.text-top-intro {
		width: 296px;
		margin-right: 42px;
		padding-top: 0;

		.title-1 {
			font-size: 32px;
			line-height: 32px;
			margin-bottom: 16px;
		}
		.name {
			font-size: 32px;
			line-height: 32px;
			padding: 9px 10px;
			margin-left: 0;
			margin-bottom: 16px;
		}
		.title-2 {
			font-size: 32px;
			line-height: 32px;
			margin-bottom: 32px;
		}
		.description {
			margin-bottom: 29px;
		}
	}
	.top-sumarry {
		margin-bottom: 80px;

		.col-top-sumary {
			margin-bottom: 0;

			.number {
				font-size: 40px;
				margin-bottom: 16px;
			}
			.name {
				font-size: 16px;
				line-height: 16px;
			}

			.top-summary-thumb {
				max-height: 40px;
				margin-bottom: 24px;
				img {
					max-height: 40px;
				}
			}
		}
		.col-md-3 {
			padding-right: 0;
		}
	}
	.top-news {
		padding-bottom: 64px;

		.title-top-news {
			font-size: 32px;
			line-height: 32px;
			margin-bottom: 32px;
		}
		.area-nav-news {
			overflow: scroll;
		}
		.nav-tabs {
			padding: 0 20px;
			width: max-content;
			margin-bottom: 53px;

			.nav-item {
				margin-right: 48px;
				display: inline-block;
			}
		}
	}
	.slide-top-news {
		padding-bottom: 48px;
	}
	.area-top-news {
		overflow: hidden;
		overflow-x: auto;
	}
	.slide-top-news {
		margin: 0;
		width: max-content;
		display: flex;

		.prev-arrow {
			left: -15px;
			z-index: 2;
		}
		.next-arrow {
			right: -15px;
			z-index: 2;
		}
		.item-news {
			display: block;
			width: 296px;
			padding: 0 12px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
	.area-partner-top {
		overflow: auto;
	}
	.area-partner-slide {
		overflow: scroll;
		padding-bottom: 16px;
	}
	.partner-slide {
		display: flex;
		width: max-content;

		.item-slide {
			margin-right: 52px;
			width: 128px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
	.top-partners {
		.partner-intro {
			.title-border-bottom {
				font-size: 40px;
				margin-bottom: 40px;
			}
		}
	}
	.top-consultation {
		.title {
			font-size: 40px;
			line-height: 40px;
			margin-bottom: 16px;
		}
		.form-consultation {
			input {
				width: 297px;
			}
			.btn {
				width: 110px;
			}
		}
	}
	#top-page {
		.nav-tabs .nav-item .nav-link {
			font-size: 18px;
		}
	}
	.top-partners {
		.partner-intro {
			padding-top: 64px;
			padding-bottom: 48px;

			.title-border-bottom {
				font-size: 32px;
				margin-bottom: 42px;
			}
		}
	}
	.top-consultation {
		padding-top: 64px;
		padding-bottom: 56px;
	}
	footer {
		.logo-footer {
			padding-top: 88px;
			padding-bottom: 40px;
			img {
				height: 32px;
			}
		}
	}
	.detail-job-left {
		display: flex;
		margin-right: 48px;
	}
	.detail-job-right {
		display: flex;
	}
	.select-option-job {
		position: relative;

		select {
			&::after {
				display: block;
				content: "";
				width: 3px;
				height: 5px;
				background: transparent url('../images/triangle-down.svg') no-repeat;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.navbar-top-area {
		.navbar {
			.toggle-menu-white {
				display: block;
			}
			.toggle-menu-color {
				display: none;
			}
			&.navbar-fixed {
				padding-top: 25px;
				padding-bottom: 25px;

				.toggle-menu-white {
					display: none;
				}
				.toggle-menu-color {
					display: block;
				}
			}
		}
	}
	#news-detail-page {
		.area-detail-news {
			padding-top: 32px;
			padding-bottom: 24px;
		}
		.share-detail-news {
			margin-top: 24px;
		}
		.relation-news {
			padding-top: 48px;

			.title-relation-news {
				margin-bottom: 16px;
				font-size: 24px;
				line-height: 24px;
			}
		}
	}
	.title-news-detail {
		font-size: 20px;
		line-height: 32px;
	}
	.date-detail-news {
		margin-bottom: 32px;
	}
	main {
		.prev-arrow {
			left: -15px;
		}
		.next-arrow {
			right: -15px;
		}
	}
	.container {
		padding-left: 18px;
		padding-right: 18px;
	}
	#news-detail-page {
		.area-detail-news {
			width: initial;
			padding-left: 18px;
			padding-right: 18px;
		}
	}
	.logo-img {
		margin-left: 2px;
		height: 24px;
	}
	#contact-page {
		.form-contact-area {
			width: calc(100% - 36px);
		}
		.form-contact {
			padding-top: 48px;
			padding-bottom: 56px;

			.title-contact {
				margin-bottom: 24px;
			}
			button {
				margin-top: 8px;
			}
		}
		.contact-map {
			iframe {
				height: 319px;
			}
		}
	}
	.navbar-top-area {
		.title-page {
			font-size: 24px;
			line-height: 34px;
			padding-left: 16px;
			margin-top: 60px;
			padding-bottom: 22px;
		}
	}
	footer {
		padding-bottom: 60px;

		.logo-footer {
			padding-top: 40px;
		}
	}
	#news-page {
		.pagination {
			margin-top: -8px;
			margin-bottom: 56px;
		}
		.list-news {
			padding-top: 50px;
		}
		.title-slide-news {
			font-size: 24px;
			line-height: 32px;
		}
		.item-slide-news {
			display: block;
		}
		.img-slide-news {
			width: 100%;
		}
		.content-slide-news {
			width: 100%;
			margin-top: 24px;
		}
		.slick-dots {
			text-align: center;
		}
		.prev-arrow {
			left: 5px;
			z-index: 1;
			top: 19%;
		}
		.next-arrow {
			right: 5px;
			z-index: 1;
			top: 19%;
		}
		.navtab-custom {
			overflow-x: auto;
			margin-bottom: 32px;
		}
		.nav-tabs {
			width: 700px;
			margin-bottom: 12px;

			.nav-item {
				text-align: center;

				.nav-link {
					font-size: 16px;
					line-height: 22px;
					font-weight: normal;

					&::before {
						margin-bottom: 10px;
					}
					&.active {
						&::before {
							margin-bottom: 10px;
						}
					}
				}
			}
		}
	}
	.top-news {
		.tab-pane {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.slide-top-news {
		width: max-content;

		.item-news {
			display: block;
			padding: 0;
			width: 234px;
			margin-right: 16px;
		}
	}
	.item-news {
		.title-news {
			font-size: 14px !important;
			line-height: 25px !important;
			margin-bottom: 16px !important;
		}
		.cate-news {
			margin-top: 0;
			margin-bottom: 8px;
		}
		.date-news {
			font-size: 12px;
			line-height: 18px;
		}
	}
	.display-md {
		display: block;
	}
	.hidden-md {
		display: none;
	}
	.number-detail-job {
		
		.item-number-detail {
			display: flex;
			width: 100%;
			margin-bottom: 16px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	#job-detail-page {
		padding-bottom: 56px;

		.content-job-detail {
			width: initial;
			padding-left: 18px;
			padding-right: 18px;

			.title-job-detail {
				margin-top: 0;
			}
		}
		.container-detail-job {
			padding-left: 18px;
			padding-right: 18px;
			width: 100%;
		}
		.area-apply {
			padding: 40px 16px 44px 16px;

			.title-apply {
				font-size: 20px;
				line-height: 44px;
				margin-bottom: 28px;
			}
			.input-apply-group {
				display: block;

				input {
					width: 100%;
					margin-bottom: 16px;
				}
				.btn-upload-file-apply {
					margin-bottom: 0;
				}
			}
		}
	}
	.list-job {
		display: none;
	}
	.item-job-mb {
		padding: 24px;
		background: #FFFFFF;
		border-radius: 8px;
		margin-bottom: 24px;

		.name-job-mb {
			font-weight: bold;
			font-size: 16px;
			line-height: 22px;
			color: #000000;
			margin-bottom: 8px;
		}
		.des-job-mb {
			font-size: 14px;
			line-height: 22px;
			color: #626262;
			margin-bottom: 24px;
		}
		.info-job-mb {
			display: flex;
			align-items: center;
			font-size: 16px;
			line-height: 25px;
			color: #222222;
			margin-bottom: 16px;

			&:last-child {
				margin-bottom: 0;
			}
			span {
				margin-left: 16px;
			}
		}
	}
	.navbar-top-area {
		background-color: #00263C;
		background-image: none;
	}
	.list-job-mb {
		display: block;
	}
	#list-job-page {
		.area-list-job {
			width: calc(100% - 36px);
			padding-bottom: 40px;
		}
		.form-search-job {
			padding: 40px 24px 36px 24px;
			margin-bottom: 48px;

			.title-search-job {
				font-size: 20px;
				line-height: 32px;
				margin-bottom: 24px;
			}
			form {
				display: block;

				>div {
					width: 100% !important;
					margin-bottom: 16px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
		.pagination {
			margin-bottom: 0;
		}
		.download-cv {
			margin-bottom: 40px;
		}
	}
	#job-page {
		.content-job-page {
			width: calc(100% - 36px);
			padding-top: 42px;
			padding-bottom: 48px;
		}
		.title-job-page {
			font-size: 20px;
			line-height: 32px;
		}
		.des-job-page {
			width: initial;
		}
		.three-column-job {
			.title-three-job {
				margin-top: 8px;
				margin-bottom: 56px;
			}
			.col-md-4 {
				margin-bottom: 40px;

				&:last-child {
					margin-bottom: 8px;
				}
			}
		}
		.userfind-job {
			width: 100%;
			padding: 48px 24px;

			.des-userfind-job {
				width: initial;
			}
		}
		.skill-job {
			display: block;
			padding-bottom: 0;

			.item-skill-job {
				margin-bottom: 48px;
			}
		}
		.title-feature-job {
			margin-top: 14px;
			margin-bottom: 24px;
			font-size: 20px;
		}
		.view-all-job {
			margin-top: 24px;
		}
	}
	.cultural-job {
		padding-top: 14px;
		padding-bottom: 14px;
		display: block;

		.column-left {
			width: 100%;
			margin-bottom: 30px;
		}
		.column-right {
			width: 100%;
		}
	}
	// cut field page
	.content-page {
		width: calc(100% - 36px);
	}
	.partner-intro {
		padding-top: 0;
		padding-bottom: 80px;

		.slick-dots {
			bottom: -40px;
		}
		.des-partner-intro {
			display: none;
			margin-bottom: 0;
		}
	}
	.top-page-slide {
		padding-top: 64px;
		padding-bottom: 144px;

		.slick-dots {
			display: none;
		}
		.item-top-slide {
			.text-slide {
				margin: 0 18px;
				width: 100%;

				.title {
					font-size: 24px;
					line-height: 24px;
				}
				.content {
					font-size: 40px;
					line-height: 56px;
					margin-bottom: 8px;
				}
				.description {
					font-size: 14px;
					line-height: 31px;
					margin-bottom: 32px;
				}
				a {
					width: 210px;
					height: 48px;
				}
			}
			.img-top-slide {
				display: none;
			}
		}
	}
	.top-field {
		padding-top: 32px;
		background-image: none;

		.title-top-field {
			font-size: 24px;
			line-height: 24px;
			margin-bottom: 16px;
		}
		.des-top-field {
			font-size: 16px;
			line-height: 25px;
			margin-bottom: 32px;
		}
		.title-topfield {
			font-size: 20px;
			margin-bottom: 16px;
		}
		.des-topfield {
			font-size: 14px;
			line-height: 22px;
		}
	}
	.top-field {
		padding-bottom: 56px;
		padding-top: 32px;

		.list-top-field {
			padding: 0;

			.item-top-field {
				margin-bottom: 24px;
				padding: 32px 24px 54px 24px;
				height: auto;
				box-shadow: 0px 32px 56px rgba(0, 0, 0, 0.08);

				.img-topfield {
					text-align: center;
					img {
						max-height: 160px;
						display: inline-block;
						max-width: 140px;
						min-height: inherit;
					}
				}
			}

			.col-md-4 {
				&:last-child {
					.item-top-field {
						margin-bottom: 0;
					}
				}
			}
		}
	}
	.top-content {
		padding-top: 56px;
		overflow: hidden;
		.bg-top-content-right ,.bg-top-content-left {
			display: none;
		}
	}
	
	.text-top-intro {
		width: 100%;
		margin-right: 0;
		padding-top: 0;

		.title-1 {
			font-size: 24px;
			line-height: 24px;
			margin-bottom: 12px;
		}
		.name {
			font-size: 24px;
			line-height: 24px;
			margin-left: 0;
			width: max-content;
			padding: 10px 8px;
		}
		.title-2 {
			font-size: 24px;
			line-height: 24px;
			margin-bottom: 32px;
		}
		.description {
			margin-bottom: 32px;
		}
		.btn {
			position: absolute;
			bottom: 48px;
			margin-left: calc(50% - 95px);
			border-width: 2px;
			border-radius: 8px;
		}
	}
	.top-intro {
		display: block;
		position: relative;
		padding-bottom: 150px;
		margin-bottom: 0;
	}
	.img-top-intro {
		width: 100%;

		.bg-square-top, .bg-square-bottom, .bg-square-center {
			position: absolute;
			z-index: 30;
		}
		.bg-square-top {
			display: block;
			width: 48px;
			height: 48px;
			top: -12px;
			left: -12px;
		}
		.bg-square-bottom {
			width: 103px;
			bottom: -23px;
			right: -45px;
		}
	
		.bg-square-center {
			display: none;
		}
	
		.img-intro-after {
			display: none;
		}
		.img-intro-before {
			width: 630px;
			position: relative;
			z-index: 100;
		}
	}
	.top-sumarry {
		margin-bottom: 72px;
		.col-md-3 {
			padding-bottom: 88px;
			&:last-child {
				padding-bottom: 0;
			}
		}
		.col-top-sumary {
			.number {
				margin-bottom: 16px;
				font-size: 40px;
				line-height: 40px;
			}
			.name {
				font-size: 16px;
				line-height: 16px;
			}

			.top-summary-thumb {
				max-height: 40px;
				margin-bottom: 24px;
				img {
					max-height: 40px;
				}
			}
		}
		.last-sumarry {
			margin-bottom: 0;
		}
	}
	.top-news {
		padding: 0;

		.title-top-news {
			font-size: 24px;
			line-height: 24px;
			margin-bottom: 24px;
		}
		.area-nav-news {
			overflow: auto;
		}
		.nav-tabs {
			padding: 0;
			width: max-content;
			margin-bottom: 32px;

			.nav-item  {
				display: inline-block;
				padding-right: 24px;

				.nav-link {
					font-size: 14px;
				}
			}
		}
		.btn-see-more-news {
			display: none;
		}

		.slide-top-news {
			padding-bottom: 56px;
		}
	}
	.area-top-news {
		overflow: hidden;
		overflow-x: auto;
	}
	.slide-top-news {
		margin: 0;
		display: flex;
    	width: max-content;
	}
	.top-partners {
		.partner-intro {
			padding-top: 40px;
			padding-bottom: 32px;

			.title-border-bottom {
				font-size: 24px;
				line-height: 24px;
				margin-bottom: 32px;
			}
		}
	}
	.partner-intro {
		.container {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.area-partner-slide {
		overflow: auto;
	}
	.partner-slide {
		display: flex;
		width: max-content;

		.item-slide {
			width: 120px;
			margin-right: 16px;
		}
	}
	.top-consultation {
		padding-top: 64px;
		padding-bottom: 56px;

		.title {
			font-size: 24px;
			line-height: 24px;
			margin-bottom: 16px;
			width: calc(100% - 36px);
			margin-left: auto;
			margin-right: auto;
		}
		.description {
			font-size: 16px;
			width: calc(100% - 36px);
			margin-left: auto;
			margin-right: auto;
		}
		.form-consultation {
			display: block;

			input {
				width: calc(100% - 36px);
				margin: auto;
			}
			.btn {
				width: calc(100% - 36px);
				margin: auto;
			}
		}
	}
	footer {
		.logo-footer {
			padding-top: 48px;
			padding-bottom: 32px;
			img {
				height: 32px;
			}
		}
		.title-col-footer {
			font-size: 16px;
			margin-top: 20px;
		}
	}
}
/**
** sm: 0 - 768
** md: 768 - 1024
** lg: 1024 - 1440
** xl: 1440px - max
**/
$break-mid-sm: 480px;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 1024px;
$break-mid-lg: 1366px;
$break-xl: 1440px;
$break-xxl: 1600px;

$fz-eb-regular: 400;
$fz-eb-medium: 500;
$fz-eb-semibold: 600;
$fz-eb-bold: 700;
$fz-eb-extrabold: 800;

$fz-op-light: 300;
$fz-op-regular: 400;
$fz-op-semibold: 600;
$fz-op-bold: 700;
$fz-op-extrabold: 800;

$f-opensan:	'Open Sans', sans-serif;
$f-eb: 'EB Garamond', serif;

$color-fieldpage-tab-active:	#207227;
$color-fieldpage-tab-normal:	#C1EAC5;
$color-fieldpage-tab-text-normal:	#A3D9A5;
$color-border-title:	#7BC47F;

$text-item-divider:	#57AE5B;
$text-tech-item-title:	#222222;
$text-tech-item-desc:	#515151;
$bg-scope-active:	#f6f7f6;

$color-desc-project-item: #626262;

$color-intro-tab-normal: #7E7E7E;

$color-core-value-title: #9E9E9E;

$bg-history: #00263C;


@import './includes/common';
@import './includes/section';
@import './includes/grid_special';
@import './includes/scope_active';

@import './pages/introduce';

@import './pages/home';