body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7; }

.form-control:focus {
  box-shadow: none; }

.invalid-feedback {
  margin-top: 8px;
  padding-left: 24px;
  font-size: 12px;
  line-height: 18px; }

.form-control.is-invalid {
  background-image: url("../images/icon-invalid.svg");
  background-size: 12px 12px; }

.logo-img {
  margin-left: 48px; }

.background-white {
  background-color: #ffffff; }

.navbar-top-area {
  background-image: url("../images/bg-header-lg.svg");
  background-position: bottom right;
  background-repeat: no-repeat; }
  .navbar-top-area .navbar {
    padding-top: 27px; }
    .navbar-top-area .navbar .navbar-brand {
      height: 32px;
      margin-right: 125px; }
    .navbar-top-area .navbar li a {
      padding: 4px 21px !important;
      color: #ffffff !important;
      font-size: 16px; }
    .navbar-top-area .navbar li.active a {
      color: #57AE5B !important; }
    .navbar-top-area .navbar .icon-change-language {
      line-height: 32px;
      margin-right: 48px; }
  .navbar-top-area .title-page {
    font-family: 'EB Garamond', serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    color: #57AE5B;
    margin-top: 149px;
    padding-bottom: 120px; }

#contact-page .form-contact-area {
  width: 648px;
  margin-left: auto;
  margin-right: auto; }
#contact-page .form-contact {
  padding: 56px 0; }
  #contact-page .form-contact .title-contact {
    font-size: 20px;
    line-height: 44px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 48px; }
  #contact-page .form-contact .item-form-contact {
    margin-bottom: 24px; }
    #contact-page .form-contact .item-form-contact input {
      border-color: #dedede;
      border-radius: 8px;
      font-size: 16px;
      line-height: 25px;
      height: 50px;
      padding: 12px 24px 13px 24px; }
    #contact-page .form-contact .item-form-contact textarea {
      padding: 12px 24px 13px 24px;
      font-size: 16px;
      line-height: 25px;
      color: rgba(0, 0, 0, 0.32);
      border-radius: 8px;
      resize: none; }
  #contact-page .form-contact button {
    width: 200px;
    font-size: 16px;
    line-height: 25px;
    padding-top: 10px;
    padding-bottom: 9px;
    font-weight: 600;
    border-radius: 8px;
    color: #57AE5B;
    border: 2px solid #57AE5B;
    margin-top: 16px; }
    #contact-page .form-contact button:hover {
      background-color: #57AE5B;
      color: #ffffff; }
#contact-page .contact-map iframe {
  max-width: 100%;
  height: 657px; }

#job-page {
  background-color: #ffffff; }
  #job-page .content-job-page {
    width: 1124px;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 88px; }
  #job-page .title-job-page {
    font-size: 32px;
    line-height: 51px;
    font-weight: bold;
    color: #222222;
    margin-bottom: 16px;
    text-align: center; }
  #job-page .des-job-page {
    font-size: 16px;
    line-height: 32px;
    color: #7e7e7e;
    text-align: center;
    margin: auto;
    width: 648px; }
  #job-page .btn-list-job {
    margin-top: 40px;
    text-align: center; }
    #job-page .btn-list-job .btn {
      font-size: 20px;
      line-height: 32px;
      color: #fff;
      padding: 12px 48px;
      background-color: #57AE5B;
      border-radius: 8px; }
  #job-page .three-column-job {
    background-color: #F7F7F7; }
    #job-page .three-column-job .title-three-job {
      font-family: 'EB Garamond', serif;
      font-size: 32px;
      line-height: 64px;
      font-weight: 600;
      color: #222222;
      margin-top: 88px;
      margin-bottom: 64px;
      text-align: center; }
    #job-page .three-column-job .title-reason-job {
      margin-bottom: 24px;
      display: flex; }
      #job-page .three-column-job .title-reason-job .col-left {
        align-self: flex-end; }
      #job-page .three-column-job .title-reason-job img {
        margin-right: 32px; }
      #job-page .three-column-job .title-reason-job span {
        font-size: 16px;
        line-height: 16px;
        font-weight: bold;
        color: #207227; }
    #job-page .three-column-job .content-reason-job {
      font-size: 16px;
      line-height: 32px;
      color: #000000; }
  #job-page .detail-jobs {
    background-image: url("../images/bg-detail-jobs.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 150px; }
  #job-page .userfind-job {
    padding: 88px 226px;
    background-color: #57AE5B; }
    #job-page .userfind-job .title-userfind-job {
      font-size: 32px;
      font-weight: 600;
      font-family: 'EB Garamond', serif;
      color: #ffffff;
      margin-bottom: 24p;
      text-align: center; }
    #job-page .userfind-job .des-userfind-job {
      width: 648px;
      font-size: 16px;
      line-height: 25px;
      color: #EFFCF1;
      text-align: center;
      margin-bottom: 64px;
      margin-left: auto;
      margin-right: auto; }
  #job-page .skill-job {
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between; }
    #job-page .skill-job:last-child {
      padding-bottom: 0; }
    #job-page .skill-job .item-skill-job {
      width: 381px; }
    #job-page .skill-job .title-skill-job {
      display: flex;
      margin-bottom: 24px; }
      #job-page .skill-job .title-skill-job img {
        margin-right: 30px; }
      #job-page .skill-job .title-skill-job span {
        color: #ffffff;
        font-size: 16px;
        line-height: 16px;
        align-self: flex-end; }
    #job-page .skill-job .des-skill-job {
      font-size: 16px;
      line-height: 32px;
      color: #EFFCF1; }
  #job-page .title-feature-job {
    font-size: 32px;
    font-weight: 600;
    color: #222222;
    font-family: 'EB Garamond', serif;
    margin-top: 80px;
    margin-bottom: 64px;
    text-align: center; }
  #job-page .view-all-job {
    margin-top: 56px;
    text-align: center; }
    #job-page .view-all-job .btn {
      font-size: 16px;
      line-height: 25px;
      font-weight: 600;
      border: 2px solid #57AE5B;
      border-radius: 8px;
      padding: 12px 54px; }

.list-job table {
  width: 100%; }
  .list-job table thead th {
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    color: #626262;
    padding: 16px 40px; }
  .list-job table tbody tr {
    background-color: #ffffff;
    border-bottom: 16px solid #f7f7f7; }
    .list-job table tbody tr:last-child {
      margin-bottom: 0; }
  .list-job table tbody td {
    padding: 32px 40px; }
  .list-job table tbody .name-job {
    font-size: 20px;
    line-height: 32px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 8px; }
  .list-job table tbody .company-job {
    font-size: 14px;
    line-height: 22px;
    color: #626262; }

footer {
  padding-bottom: 100px;
  background-color: #ffffff; }
  footer .logo-footer {
    padding-top: 96px;
    padding-bottom: 48px; }
    footer .logo-footer img {
      height: 48px; }
  footer .title-col-footer {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #222222; }
  footer .item-content-footer {
    font-size: 14px;
    line-height: 22px;
    color: #626262;
    margin-bottom: 10px; }
    footer .item-content-footer .title {
      color: #222222; }
  footer .contact-us-social {
    padding-left: 0; }
    footer .contact-us-social li {
      display: inline-block;
      margin-right: 32px; }
      footer .contact-us-social li:last-child {
        margin-right: 0; }
      footer .contact-us-social li img {
        width: 32px;
        height: 32px; }

#list-job-page .area-list-job {
  width: 1096px;
  margin: auto;
  background-color: #f7f7f7;
  padding-top: 56px;
  padding-bottom: 112px; }
#list-job-page .form-search-job {
  padding: 56px 80px;
  background-color: #57AE5B;
  margin-bottom: 50px; }
  #list-job-page .form-search-job .title-search-job {
    font-size: 32px;
    line-height: 51px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    margin-bottom: 50px; }
  #list-job-page .form-search-job form {
    display: flex;
    justify-content: space-between; }
  #list-job-page .form-search-job .search-keyword {
    width: 312px;
    position: relative; }
    #list-job-page .form-search-job .search-keyword input {
      font-size: 16px;
      height: 48px;
      font-weight: 600;
      background-color: rgba(193, 234, 197, 0.56);
      padding: 12px 22px 11px 64px;
      width: 100%;
      border-radius: 8px; }
      #list-job-page .form-search-job .search-keyword input::placeholder {
        color: #ffffff; }
    #list-job-page .form-search-job .search-keyword img {
      position: absolute;
      top: 14px;
      left: 26px; }
  #list-job-page .form-search-job .select-option-job {
    width: 200px; }
    #list-job-page .form-search-job .select-option-job select {
      height: 48px;
      padding: 0 24px;
      font-size: 16px;
      color: #515151;
      font-weight: 600;
      border-radius: 8px; }
  #list-job-page .form-search-job .btn-search-job {
    width: 154px; }
    #list-job-page .form-search-job .btn-search-job button {
      height: 48px;
      font-size: 16px;
      color: #57AE5B;
      font-weight: 600;
      background-color: #ffffff;
      border-radius: 8px;
      width: 100%; }
#list-job-page .download-cv {
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 90px; }

.pagination {
  justify-content: center; }
  .pagination .page-item .page-link {
    background: none;
    border: none;
    color: #626262; }
  .pagination .page-item.active .page-link {
    border: 1px solid #515151;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 6px 12px; }

.cultural-job {
  padding-top: 122px;
  padding-bottom: 128px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .cultural-job .column-left {
    width: 424px; }
    .cultural-job .column-left .des-curtural-job {
      font-size: 16px;
      line-height: 25px;
      color: #515151; }
  .cultural-job .column-right {
    width: 536px; }

#job-detail-page {
  padding-top: 32px;
  padding-bottom: 112px;
  border-bottom: 1px solid #eee;
  background-color: #ffffff; }
  #job-detail-page .content-job-detail {
    width: 648px;
    margin: auto; }
    #job-detail-page .content-job-detail .title-job-detail {
      font-size: 22px;
      line-height: 44px;
      font-weight: 600;
      color: #000000;
      margin-top: 56px;
      margin-bottom: 16px; }
    #job-detail-page .content-job-detail .des-job-detail {
      font-size: 16px;
      line-height: 32px;
      color: #000000; }
  #job-detail-page .container-detail-job {
    width: 1096px;
    margin: auto; }
  #job-detail-page .area-apply {
    margin-top: 56px;
    padding: 56px 188px;
    background-color: #57AE5B; }
    #job-detail-page .area-apply .title-apply {
      font-size: 32px;
      line-height: 51px;
      font-weight: 600;
      color: #ffffff;
      text-align: center;
      margin-bottom: 48px; }
    #job-detail-page .area-apply .input-apply-group {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px; }
      #job-detail-page .area-apply .input-apply-group input {
        height: 48px;
        width: 224px;
        padding-left: 24px;
        padding-right: 24px;
        color: #ffffff;
        background-color: rgba(193, 234, 197, 0.56);
        border-radius: 8px; }
        #job-detail-page .area-apply .input-apply-group input::placeholder {
          color: rgba(255, 255, 255, 0.64); }
    #job-detail-page .area-apply .btn-upload-file-apply {
      line-height: 48px;
      font-size: 16px;
      color: #ffffff;
      padding-left: 24px;
      padding-right: 24px;
      background-color: rgba(193, 234, 197, 0.56);
      border: 1px dashed #ffffff;
      margin-bottom: 32px;
      border-radius: 8px; }
    #job-detail-page .area-apply #file_apply {
      opacity: 0; }
    #job-detail-page .area-apply .btn-submit-apply {
      text-align: center; }
      #job-detail-page .area-apply .btn-submit-apply .btn {
        height: 48px;
        font-size: 16px;
        color: #57AE5B;
        font-weight: 600;
        background-color: #ffffff;
        border-radius: 8px;
        padding-left: 32px;
        padding-right: 32px;
        cursor: pointer; }

#news-page {
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee; }
  #news-page .item-slide-news {
    display: flex;
    justify-content: space-between; }
  #news-page .img-slide-news {
    width: 760px; }
  #news-page .content-slide-news {
    width: 496px;
    align-self: center; }
  #news-page .title-slide-news {
    font-size: 32px;
    line-height: 48px;
    font-weight: 600;
    font-family: "EB Garamond", serif;
    color: #222222;
    margin-bottom: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; }
  #news-page .des-slide-news {
    font-size: 16px;
    line-height: 25px;
    color: #515151;
    margin-bottom: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; }
  #news-page .date-slide-news {
    font-size: 14px;
    line-height: 22px;
    color: #7E7E7E; }
  #news-page .list-news {
    padding-top: 74px; }

main .slick-dots {
  background-color: #ffffff;
  text-align: left;
  line-height: 2px;
  bottom: -34px; }
  main .slick-dots li {
    height: 2px;
    width: 40px;
    margin-left: 0;
    margin-right: 16px; }
    main .slick-dots li:last-child {
      margin-right: 0; }
    main .slick-dots li button {
      background-color: #003C5F;
      height: 2px;
      width: 40px;
      padding: 0; }
      main .slick-dots li button::before {
        content: '';
        height: 2px; }
    main .slick-dots li.slick-active button {
      background-color: #57AE5B; }
main .prev-arrow {
  position: absolute;
  top: 50%;
  left: -40px; }
main .next-arrow {
  position: absolute;
  top: 50%;
  right: -40px; }
main .nav-tabs {
  justify-content: space-between;
  border: none;
  margin-bottom: 88px; }
  main .nav-tabs .nav-item {
    flex: 1;
    text-align: center; }
    main .nav-tabs .nav-item .nav-link {
      font-size: 20px;
      line-height: 32px;
      font-weight: 600;
      color: #7E7E7E;
      padding: 0;
      border: none; }
      main .nav-tabs .nav-item .nav-link:before {
        content: '';
        display: block;
        padding-top: 8px;
        background-color: #ffffff;
        margin-bottom: 27px; }
      main .nav-tabs .nav-item .nav-link:hover {
        border-color: #ffffff; }
      main .nav-tabs .nav-item .nav-link.active {
        color: #222222;
        border: none; }
        main .nav-tabs .nav-item .nav-link.active:before {
          content: '';
          display: block;
          padding-top: 8px;
          background-color: #57AE5B;
          margin-bottom: 27px; }

.content-page {
  width: 1096px;
  margin: auto; }

.item-news {
  margin-bottom: 64px; }
  .item-news .cate-news {
    font-size: 12px;
    line-height: 18px;
    color: #626262;
    margin-top: 24px;
    margin-bottom: 16px; }
  .item-news .title-news {
    font-size: 20px;
    line-height: 32px;
    font-weight: bold;
    color: #222222; }
  .item-news .des-news {
    font-size: 14px;
    line-height: 22px;
    color: #515151;
    margin-bottom: 16px; }
  .item-news .date-news {
    font-size: 14px;
    line-height: 22px;
    color: #7e7e7e; }
  .item-news:hover {
    text-decoration: none; }

.title-border-bottom {
  font-size: 32px;
  font-weight: 600;
  font-family: 'EB Garamond', serif;
  margin-bottom: 48px; }
  .title-border-bottom:after {
    content: '';
    display: block;
    margin-top: 6px;
    padding-top: 2px;
    width: 112px;
    background-color: #7BC47F; }

.tag-news {
  width: fit-content;
  font-size: 12px;
  line-height: 18px;
  color: #2F8132;
  padding: 7px 16px;
  background-color: #C1EAC5;
  border-radius: 8px;
  margin-bottom: 24px; }

.tags-secondary {
  padding: 7px 16px;
  font-size: 12px;
  line-height: 18px;
  color: #7e7e7e;
  background-color: #f7f7f7;
  border-radius: 8px; }

#news-detail-page .area-detail-news {
  padding-top: 56px;
  padding-bottom: 48px;
  width: 648px;
  margin: auto; }
#news-detail-page .content-detail-news {
  padding-bottom: 48px;
  border-bottom: 1px solid #dedede; }
#news-detail-page .share-detail-news {
  margin-top: 40px; }
#news-detail-page .news-social {
  padding-left: 0; }
  #news-detail-page .news-social li {
    display: inline-block;
    padding: 4px 16px 4px 0; }
    #news-detail-page .news-social li:last-child {
      padding-right: 0; }
#news-detail-page .relation-news {
  background-color: #f7f7f7;
  padding-top: 72px;
  padding-bottom: 72px; }
  #news-detail-page .relation-news .title-relation-news {
    margin-bottom: 52px;
    font-size: 32px;
    font-weight: 600;
    font-family: "EB Garamond", serif;
    color: #222222;
    text-align: center; }
  #news-detail-page .relation-news .item-news {
    padding: 0 20px; }
#news-detail-page .slick-dots {
  text-align: center;
  background-color: #f7f7f7;
  border-radius: 8px; }
#news-detail-page .slick-slide {
  transition: transform 0.3s ease-out; }
  #news-detail-page .slick-slide:hover {
    transform: translateY(-16px); }
#news-detail-page .item-news {
  margin-bottom: 10px; }
  #news-detail-page .item-news .img-news {
    border-radius: 8px 8px 0 0; }
    #news-detail-page .item-news .img-news img {
      width: 100%; }
  #news-detail-page .item-news .content-news {
    padding: 24px;
    background-color: #ffffff;
    border-radius: 0 0 8px 8px; }
    #news-detail-page .item-news .content-news .cate-news {
      margin-top: 0; }
    #news-detail-page .item-news .content-news .title-news {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
    #news-detail-page .item-news .content-news .des-news {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical; }
#news-detail-page .slide-relation-news .slick-list {
  padding-top: 16px; }

.no-title-page .title-page {
  display: none; }
.no-title-page nav {
  padding-bottom: 27px; }

.modal-backdrop {
  background-color: #00263C; }
  .modal-backdrop.show {
    opacity: 0.88; }

#introduce-page #company .cultural-job {
  padding-top: 0;
  padding-bottom: 88px; }
#introduce-page #company .title-border-bottom {
  margin-top: 130px;
  margin-bottom: 64px; }
#introduce-page #company .introduce-general {
  padding: 176px 0;
  background-color: #EFFCF1;
  margin-left: calc(50vw - 658px);
  margin-bottom: 276px;
  position: relative; }
  #introduce-page #company .introduce-general .view-more-intro {
    width: 414px;
    padding: 24px 28px 24px 102px;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    bottom: 0;
    left: 350px;
    cursor: pointer; }
#introduce-page #company .img-introduce {
  position: relative; }
  #introduce-page #company .img-introduce img {
    position: absolute;
    top: -96px;
    right: 70px; }
#introduce-page #company .column-text {
  width: 383px; }
  #introduce-page #company .column-text .title-border-bottom {
    margin-top: initial;
    margin-bottom: 56px; }
#introduce-page #company .column-image {
  width: 648px; }
#introduce-page #company .history-develop {
  background-color: #00263C;
  padding-top: 88px;
  padding-bottom: 56px; }
  #introduce-page #company .history-develop .nav-tabs {
    margin-bottom: 120px; }
  #introduce-page #company .history-develop .nav-link {
    font-size: 16px;
    line-height: 25px;
    color: #004A74;
    background: none;
    border: none; }
    #introduce-page #company .history-develop .nav-link::before {
      display: none; }
    #introduce-page #company .history-develop .nav-link::after {
      content: '';
      display: block;
      padding-top: 2px;
      margin-top: 20px;
      background-color: #004A74; }
    #introduce-page #company .history-develop .nav-link.active {
      color: #ffffff; }
      #introduce-page #company .history-develop .nav-link.active::after {
        background-color: #57AE5B; }
  #introduce-page #company .history-develop .title-history-develop {
    margin-bottom: 30px;
    font-size: 56px;
    font-weight: 600;
    color: #ffffff;
    font-family: "EB Garamond", serif; }
  #introduce-page #company .history-develop .item-history-slide {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  #introduce-page #company .history-develop .text-history-slide {
    width: 422px;
    margin-left: 114px;
    color: #B0D0E3; }
  #introduce-page #company .history-develop .img-history-slide {
    width: 648px;
    position: relative;
    padding-bottom: 32px; }
    #introduce-page #company .history-develop .img-history-slide::before {
      content: '';
      display: block;
      position: absolute;
      background-color: rgba(0, 13, 0, 0.16);
      width: 100%;
      height: 100%;
      top: 32px;
      left: -32px; }
    #introduce-page #company .history-develop .img-history-slide img {
      position: inherit; }
  #introduce-page #company .history-develop .prev-arrow {
    top: initial;
    bottom: 46px;
    left: 114px;
    z-index: 1;
    cursor: pointer; }
  #introduce-page #company .history-develop .next-arrow {
    top: initial;
    bottom: 46px;
    left: 224px;
    z-index: 1;
    cursor: pointer; }
#introduce-page #leader {
  padding-bottom: 176px;
  border-bottom: 1px solid #dedede; }
  #introduce-page #leader .des-leader {
    font-size: 16px;
    line-height: 25px;
    color: #515151;
    margin-bottom: 120px; }
  #introduce-page #leader .list-member {
    position: relative;
    padding-top: 88px; }
    #introduce-page #leader .list-member .bg-list-member {
      position: absolute;
      top: 0;
      left: 0;
      width: 70%;
      height: 815px;
      background-color: #EFFCF1; }
  #introduce-page #leader .leader-slide .slick-dots {
    text-align: center; }
  #introduce-page #leader .row-leader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px; }
    #introduce-page #leader .row-leader .item-leader-slide {
      width: calc(50% - 20px);
      background-color: #ffffff;
      cursor: pointer; }
      #introduce-page #leader .row-leader .item-leader-slide:hover {
        background: #57AE5B; }
        #introduce-page #leader .row-leader .item-leader-slide:hover .name-leader {
          color: #ffffff; }
        #introduce-page #leader .row-leader .item-leader-slide:hover .role-company {
          color: #C1EAC5; }
  #introduce-page #leader .info-leader {
    padding: 40px 0;
    text-align: center; }
    #introduce-page #leader .info-leader .name-leader {
      font-size: 20px;
      font-weight: 600;
      font-family: "EB Garamond", serif;
      color: #222222;
      margin-bottom: 16px; }
    #introduce-page #leader .info-leader .role-company {
      font-size: 16px;
      line-height: 25px;
      color: #7e7e7e; }
  #introduce-page #leader .detail-leader {
    font-size: 16px;
    line-height: 32px;
    color: #000000;
    padding: 32px 112px 47px 112px;
    text-align: left; }
  #introduce-page #leader .modal-content {
    border-radius: 8px; }
    #introduce-page #leader .modal-content .modal-header {
      border-bottom: none;
      background-color: #57AE5B;
      height: 72px; }
      #introduce-page #leader .modal-content .modal-header button {
        color: #ffffff;
        opacity: 1; }
    #introduce-page #leader .modal-content .modal-body {
      padding: 0; }
      #introduce-page #leader .modal-content .modal-body .img-detail-list {
        position: relative;
        width: 100%;
        text-align: center; }
        #introduce-page #leader .modal-content .modal-body .img-detail-list img {
          position: inherit; }
        #introduce-page #leader .modal-content .modal-body .img-detail-list::before {
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: 50%;
          background-color: #57AE5B; }

#field-page {
  padding-bottom: 100px; }
  #field-page .title-border-bottom {
    color: #ffffff; }
  #field-page .des-tech-intro {
    color: #ffffff; }
  #field-page .nav-tabs {
    margin-bottom: 0; }
  #field-page .nav-link {
    color: #A3D9A5;
    background: none; }
    #field-page .nav-link.active {
      color: #ffffff; }
      #field-page .nav-link.active::before {
        background-color: #207227; }
    #field-page .nav-link::before {
      background-color: #C1EAC5; }
  #field-page .tech-intro {
    display: flex;
    align-items: center;
    margin-bottom: 36px; }
    #field-page .tech-intro .tech-left {
      width: 33.3%; }
    #field-page .tech-intro .tech-right {
      width: 66.7%; }
  #field-page .tech-list {
    display: flex;
    align-items: center;
    position: relative; }
    #field-page .tech-list .tech-column-one {
      width: 33.33%;
      margin-right: 64px; }
    #field-page .tech-list .tech-column-two {
      width: 33.33%; }
    #field-page .tech-list .tech-column-three {
      position: absolute;
      left: calc(66.66% + 50px);
      bottom: 0; }
    #field-page .tech-list .tech-item-down {
      margin-top: 64px; }
  #field-page .tech-item {
    padding: 48px;
    background-color: #ffffff;
    box-shadow: 0px 32px 56px rgba(0, 0, 0, 0.08);
    border-radius: 8px; }
    #field-page .tech-item .tech-line {
      height: 8px;
      background: #57AE5B;
      border-radius: 9px;
      width: 64px;
      margin-bottom: 65px; }
    #field-page .tech-item .tech-item-title {
      font-weight: bold;
      font-size: 20px;
      line-height: 32px;
      color: #222222;
      margin-top: 56px;
      margin-bottom: 24px; }
    #field-page .tech-item .tech-item-des {
      font-size: 14px;
      line-height: 22px;
      color: #515151; }

.field-project {
  padding-top: 58px;
  padding-bottom: 146px;
  background-color: #f7f7f7; }
  .field-project .title-field-project {
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    font-size: 56px;
    line-height: 64px;
    color: #222222;
    text-align: center;
    margin-bottom: 104px; }
  .field-project .slick-dots {
    text-align: center;
    background-color: #f7f7f7;
    border-radius: 8px; }
  .field-project .slick-slide {
    transition: transform 0.3s ease-out; }
    .field-project .slick-slide:hover {
      transform: translateY(-16px); }
  .field-project .item-news {
    margin-bottom: 10px;
    padding: 0 20px;
    border-radius: 8px; }
    .field-project .item-news .img-news {
      border-radius: 8px; }
    .field-project .item-news .content-news {
      padding: 24px;
      background-color: #ffffff;
      border-radius: 0 0 8px 8px; }
      .field-project .item-news .content-news .cate-news {
        margin-top: 0; }
      .field-project .item-news .content-news .title-news {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical; }
      .field-project .item-news .content-news .des-news {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical; }
  .field-project .slide-projects .slick-list {
    padding-top: 16px; }

.top-page-slide {
  padding-top: 150px;
  padding-bottom: 150px; }
  .top-page-slide .item-top-slide {
    display: flex;
    align-items: center; }
    .top-page-slide .item-top-slide .text-slide {
      width: 742px;
      margin-right: 70px; }
    .top-page-slide .item-top-slide .title {
      font-family: "EB Garamond", serif;
      font-weight: 600;
      font-size: 32px;
      line-height: 64px;
      text-transform: uppercase;
      margin-bottom: 16px;
      color: #ffffff; }
    .top-page-slide .item-top-slide .content {
      font-family: "EB Garamond", serif;
      font-weight: 600;
      font-size: 72px;
      line-height: 84px;
      color: #57AE5B;
      margin-bottom: 40px; }
    .top-page-slide .item-top-slide .description {
      font-size: 20px;
      line-height: 32px;
      color: #95B5C8;
      margin-bottom: 56px; }
      .top-page-slide .item-top-slide .description span {
        text-decoration: underline;
        font-weight: bold; }
    .top-page-slide .item-top-slide button {
      display: flex;
      color: #000000;
      align-items: center; }
      .top-page-slide .item-top-slide button span {
        margin-left: 10px; }
    .top-page-slide .item-top-slide .img-top-slide {
      width: calc(100% - 812px);
      position: relative; }
      .top-page-slide .item-top-slide .img-top-slide img {
        position: absolute;
        top: 0;
        left: 0; }

.top-field {
  padding-top: 160px;
  padding-bottom: 160px; }
  .top-field .title-top-field {
    margin-bottom: 24px;
    font-family: "EB Garamond", serif;
    font-weight: 600;
    font-size: 56px;
    line-height: 64px;
    color: #222222;
    text-align: center; }
  .top-field .des-top-field {
    font-size: 20px;
    line-height: 32px;
    color: #626262;
    text-align: center;
    margin-bottom: 52px; }
  .top-field .list-top-field {
    padding: 16px 56px 0 56px; }
  .top-field .title-topfield {
    display: block;
    font-family: "EB Garamond", serif;
    font-weight: 600;
    font-size: 24px;
    color: #222222 !important;
    margin-top: 16px;
    margin-bottom: 24px;
    text-align: center; }
    .top-field .title-topfield img {
      margin-left: 10px;
      display: none; }
  .top-field .des-topfield {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #626262;
    height: 75px; }
  .top-field .item-top-field {
    padding: 40px 40px 56px 40px;
    border-radius: 100px 10px 100px 10px;
    border: 1px solid #eeeeee;
    transition: transform 0.3s ease-out; }
    .top-field .item-top-field:hover {
      transform: translateY(-16px);
      box-shadow: 0px 32px 56px rgba(0, 0, 0, 0.08); }
      .top-field .item-top-field:hover .title-topfield {
        color: #57AE5B !important;
        text-decoration: none; }
        .top-field .item-top-field:hover .title-topfield img {
          display: inline; }

.top-content {
  padding-top: 97px;
  background-color: #F8FAFE; }

.top-intro {
  display: flex;
  margin-bottom: 173px; }

.text-top-intro {
  padding-top: 48px;
  width: 500px;
  margin-right: 132px; }
  .text-top-intro .title-1 {
    font-family: "EB Garamond", serif;
    font-weight: 600;
    font-size: 56px;
    color: #222222;
    margin-bottom: 15px;
    line-height: 56px; }
  .text-top-intro .name {
    font-family: "EB Garamond", serif;
    font-weight: 600;
    font-size: 56px;
    line-height: 56px;
    color: #ffffff;
    padding: 10px 24px;
    width: fit-content;
    background: #57AE5B;
    border-radius: 8px;
    margin-left: -20px;
    margin-bottom: 20px; }
  .text-top-intro .title-2 {
    font-family: "EB Garamond", serif;
    font-weight: 600;
    font-size: 56px;
    color: #222222;
    margin-bottom: 56px;
    line-height: 56px; }
  .text-top-intro .description {
    font-size: 16px;
    line-height: 25px;
    color: #626262;
    margin-bottom: 56px; }
  .text-top-intro .btn {
    padding: 12px 38px;
    background-color: #ffffff; }
    .text-top-intro .btn:hover {
      background-color: #28a745; }

.img-top-intro {
  position: relative;
  width: calc(100% - 632px); }
  .img-top-intro .img-intro-after {
    float: right;
    border-radius: 16px;
    width: 286px; }
  .img-top-intro .img-intro-before {
    position: absolute;
    top: 112px;
    right: 88px;
    border-radius: 16px;
    width: 630px; }

.top-sumarry {
  padding: 48px 0;
  background-color: #ffffff;
  margin-bottom: 160px; }
  .top-sumarry .col-top-sumary {
    text-align: center; }
    .top-sumarry .col-top-sumary img {
      margin-bottom: 32px; }
    .top-sumarry .col-top-sumary .number {
      font-weight: bold;
      font-size: 72px;
      line-height: 100%;
      margin-bottom: 24px; }
    .top-sumarry .col-top-sumary .name {
      font-size: 20px;
      line-height: 32px;
      color: #515151; }

.title-top-news {
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 56px;
  line-height: 64px;
  color: #222222;
  text-align: center;
  margin-bottom: 24px; }

.slide-top-news {
  margin: 0 100px; }
  .slide-top-news .item-news {
    padding: 0 20px;
    margin-bottom: 0; }
    .slide-top-news .item-news .content-news {
      padding: 24px;
      background-color: #ffffff;
      border-radius: 0 0 8px 8px; }
      .slide-top-news .item-news .content-news .title-news {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 24px; }
    .slide-top-news .item-news .img-news {
      border-radius: 8px; }
  .slide-top-news .slick-list {
    padding-top: 16px; }
  .slide-top-news .slick-slide {
    transition: transform 0.3s ease-out; }
    .slide-top-news .slick-slide:hover {
      transform: translateY(-16px); }

.top-news {
  padding-bottom: 120px; }
  .top-news .nav-tabs {
    padding: 0 186px;
    margin-bottom: 44px; }
    .top-news .nav-tabs .nav-item .nav-link {
      display: inline;
      color: #626262; }
      .top-news .nav-tabs .nav-item .nav-link.active {
        background-color: initial;
        border-bottom: 2px solid #57AE5B; }
        .top-news .nav-tabs .nav-item .nav-link.active:before {
          display: none; }
      .top-news .nav-tabs .nav-item .nav-link:before {
        display: none; }
    .top-news .nav-tabs .nav-item:last-child {
      flex: 2; }

.btn-see-more-news {
  font-size: 16px;
  line-height: 25px;
  padding: 12px 54px;
  border-radius: 8px;
  margin-top: 56px;
  text-align: center; }

.partner-intro {
  padding-top: 112px;
  padding-bottom: 180px;
  border-bottom: 1px solid #dedede; }
  .partner-intro .title-border-bottom {
    font-size: 32px;
    font-weight: 600;
    font-family: "EB Garamond", serif;
    color: #222222;
    margin-top: 0;
    text-align: center;
    margin-bottom: 32px; }
    .partner-intro .title-border-bottom::after {
      margin: auto; }
  .partner-intro .des-partner-intro {
    width: 884px;
    font-size: 16px;
    line-height: 25px;
    color: #515151;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px; }
  .partner-intro .slick-dots {
    text-align: center;
    bottom: -64px; }

.top-partners {
  background-color: #ffffff; }
  .top-partners .partner-intro {
    padding-top: 88px;
    padding-bottom: 132px;
    border-bottom: none; }
    .top-partners .partner-intro .title-border-bottom {
      font-size: 56px;
      line-height: 64px;
      margin-bottom: 112px; }
      .top-partners .partner-intro .title-border-bottom:after {
        display: none; }

.top-consultation {
  padding-top: 88px;
  padding-bottom: 104px;
  background: #57AE5B;
  text-align: center; }
  .top-consultation .title {
    font-family: "EB Garamond", serif;
    font-weight: 600;
    font-size: 56px;
    line-height: 64px;
    color: #ffffff;
    margin-bottom: 16px; }
  .top-consultation .description {
    font-size: 16px;
    line-height: 25px;
    color: #EFFCF1;
    margin-bottom: 40px; }
  .top-consultation .form-consultation {
    display: flex;
    justify-content: center; }
    .top-consultation .form-consultation input {
      width: 312px;
      margin-right: 24px;
      height: 48px;
      padding-left: 24px;
      padding-right: 24px;
      color: #ffffff;
      background-color: rgba(193, 234, 197, 0.56);
      border-radius: 8px; }
      .top-consultation .form-consultation input::placeholder {
        color: rgba(255, 255, 255, 0.64); }
    .top-consultation .form-consultation .btn {
      width: 154px;
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0px 2px 0px #36883A, inset 0px 2px 0px rgba(0, 0, 0, 0.08);
      color: #57AE5B; }

.number-detail-job {
  display: flex; }
  .number-detail-job .item-number-detail {
    display: flex;
    align-items: center;
    margin-right: 48px; }
    .number-detail-job .item-number-detail:last-child {
      margin-right: 0; }
    .number-detail-job .item-number-detail span {
      margin-left: 16px;
      color: #95B5C8;
      font-size: 16px;
      line-height: 25px; }

.display-md {
  display: none; }

.list-job-mb {
  display: none; }

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1316px;
    padding: 0; }

  .title-news-detail {
    font-size: 40px;
    line-height: 64px;
    color: #222222;
    font-weight: bold;
    margin: 24px 0; }

  .date-detail-news {
    font-size: 14px;
    line-height: 22px;
    color: #7e7e7e;
    margin-bottom: 24px; } }
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .container {
    max-width: 936px;
    padding-left: 0;
    padding-right: 0; }

  .navbar-top-area {
    background-image: url("../images/bg-header-md.svg"); }

  #job-detail-page .container-detail-job {
    width: 936px; }
  #job-detail-page .area-apply {
    padding: 48px 108px;
    margin-top: 48px; }
    #job-detail-page .area-apply .title-apply {
      margin-bottom: 40px; }
    #job-detail-page .area-apply .btn-upload-file-apply {
      margin-bottom: 3px; }

  .logo-img {
    height: 24px;
    line-height: 24px; }

  .navbar-top-area .title-page {
    font-size: 40px;
    line-height: 64px;
    margin-top: 120px;
    padding-bottom: 80px; }

  .navbar-top-area .navbar {
    padding-top: 24px; }
    .navbar-top-area .navbar .navbar-brand {
      margin-right: 62px; }

  #contact-page .contact-map iframe {
    height: 465px; }

  footer .title-col-footer {
    font-size: 16px; }

  #news-page .img-slide-news {
    width: 534px; }
  #news-page .content-slide-news {
    width: 376px; }
  #news-page .prev-arrow {
    left: -30px; }
  #news-page .next-arrow {
    right: -30px; }

  #list-job-page .area-list-job {
    width: 936px; }
  #list-job-page .form-search-job {
    padding: 40px 57px 47px 57px; }
    #list-job-page .form-search-job .search-keyword {
      width: 264px; }
    #list-job-page .form-search-job .facilty {
      width: 170px; }
    #list-job-page .form-search-job .workarea {
      width: 163px; }

  .list-job table thead th {
    padding: 16px 20px; }
    .list-job table thead th:first-child {
      width: 50%; }
  .list-job table tbody td {
    padding: 32px 24px;
    font-size: 14px; }
    .list-job table tbody td:first-child {
      padding-left: 40px; }
    .list-job table tbody td .name-job {
      font-size: 16px; }

  #job-page .content-job-page {
    width: 936px;
    padding-top: 88px; }
    #job-page .content-job-page .title-three-job {
      margin-top: 0; }
  #job-page .userfind-job {
    padding: 88px 80px 80px 80px; }
  #job-page .title-feature-job {
    margin-top: 0; }
  #job-page .view-all-job {
    margin-top: 30px; }
  #job-page .detail-jobs .content-job-page {
    padding-bottom: 73px; }

  .cultural-job {
    padding-top: 0;
    padding-bottom: 0; }
    .cultural-job .column-right {
      width: 454px; }

  .field-project .content-page {
    width: 936px; }
  .field-project .prev-arrow {
    left: -30px; }
  .field-project .next-arrow {
    right: -30px; }

  #field-page .tech-intro {
    margin-top: 170px; } }
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 736px; }

  main .prev-arrow {
    left: -30px; }
  main .next-arrow {
    right: -30px; }

  .navbar-top-area {
    background-image: url("../images/bg-header-sm.svg"); }

  .navbar-top-area .navbar {
    padding-top: 20px; }
    .navbar-top-area .navbar .navbar-brand {
      height: 24px; }

  .logo-img {
    margin-left: 8px;
    height: 24px; }

  .navbar-top-area .title-page {
    font-size: 32px;
    line-height: initial;
    margin-left: -15px;
    margin-top: 58px;
    padding-bottom: 48px; }

  #contact-page .form-contact-area {
    width: 610px; }
  #contact-page .form-contact {
    padding-top: 48px;
    padding-bottom: 56px; }
  #contact-page .contact-map iframe {
    height: 267px; }

  footer {
    padding-bottom: 0; }
    footer .container {
      padding: 0; }
    footer .logo-footer {
      padding-top: 64px;
      padding-bottom: 40px; }
    footer .col-footer {
      padding-bottom: 56px; }

  #news-page .img-slide-news {
    width: 360px; }
  #news-page .content-slide-news {
    width: 359px; }
  #news-page .title-slide-news {
    font-size: 24px;
    line-height: 32px; }
  #news-page .prev-arrow {
    z-index: 2;
    left: 0;
    padding: 12px 8px;
    background-color: #eee;
    top: 32%; }
  #news-page .next-arrow {
    z-index: 2;
    right: 0;
    padding: 12px 8px;
    background-color: #eee;
    top: 32%; }

  #job-detail-page .container-detail-job {
    width: calc(100% - 48px);
    margin-left: 24px;
    margin-right: 24px; }
  #job-detail-page .area-apply {
    padding: 40px 64px; }
    #job-detail-page .area-apply .input-apply-group {
      display: block; }
      #job-detail-page .area-apply .input-apply-group input {
        width: 49%; }
        #job-detail-page .area-apply .input-apply-group input:first-child {
          float: left;
          margin-bottom: 24px; }
        #job-detail-page .area-apply .input-apply-group input:nth-child(2) {
          float: right;
          margin-bottom: 24px; }
        #job-detail-page .area-apply .input-apply-group input:nth-child(3) {
          float: left;
          margin-bottom: 24px; }
      #job-detail-page .area-apply .input-apply-group .btn-upload-file-apply {
        float: right;
        width: 49%; }
  #job-detail-page .display-md {
    display: block; }
  #job-detail-page .hidden-md {
    display: none; }

  #list-job-page .download-cv {
    margin-bottom: 56px; }
  #list-job-page .pagination {
    margin-bottom: 0; }
  #list-job-page .area-list-job {
    width: 736px;
    padding-top: 48px;
    padding-bottom: 56px; }
  #list-job-page .form-search-job {
    padding: 40px 62px; }
    #list-job-page .form-search-job .title-search-job {
      margin-bottom: 32px; }
    #list-job-page .form-search-job form {
      display: block; }
    #list-job-page .form-search-job .search-keyword {
      width: 610px;
      margin-bottom: 23px; }
    #list-job-page .form-search-job .facilty {
      display: inline-flex;
      width: 180px;
      margin-right: 20px; }
    #list-job-page .form-search-job .workarea {
      display: inline-flex;
      width: 180px;
      margin-right: 20px; }
    #list-job-page .form-search-job .btn-search-job {
      display: inline-flex;
      width: 202px; }

  .list-job table thead th {
    padding: 16px 12px; }
    .list-job table thead th:first-child {
      width: 48%; }
  .list-job table tbody td {
    padding: 32px 16px;
    font-size: 14px; }
    .list-job table tbody td .name-job {
      font-size: 16px; }

  #job-page .content-job-page {
    width: 736px; }
  #job-page .userfind-job {
    padding: 72px 64px 70px 64px; }
    #job-page .userfind-job .des-userfind-job {
      width: initial; }

  .field-project {
    padding-bottom: 58px; }
    .field-project .content-page {
      width: 736px; }
    .field-project .prev-arrow {
      left: -15px; }
    .field-project .next-arrow {
      right: -15px; }
    .field-project .title-field-project {
      font-size: 32px;
      line-height: 64px;
      margin-bottom: 16px; }
    .field-project .slick-dots {
      bottom: 0; }

  #field-page .container {
    padding-left: 0;
    padding-right: 0; }
  #field-page .tech-intro {
    margin-top: 88px; }
    #field-page .tech-intro .tech-left {
      width: 374px; }
    #field-page .tech-intro .tech-right {
      width: calc(100% - 374px); }
  #field-page .tech-item {
    padding: 48px 24px; }
  #field-page .tech-list .tech-column-one {
    width: 48%;
    margin-right: 4%; }
  #field-page .tech-list .tech-column-two {
    width: 48%;
    margin-right: 0; }
  #field-page .tech-list .tech-column-three {
    top: 0;
    right: 50px;
    left: initial;
    bottom: initial; }
    #field-page .tech-list .tech-column-three img {
      width: 245px; } }
@media screen and (max-width: 767px) {
  main .prev-arrow {
    left: -15px; }
  main .next-arrow {
    right: -15px; }

  .container {
    padding-left: 18px;
    padding-right: 18px; }

  #news-detail-page .area-detail-news {
    width: initial;
    padding-left: 18px;
    padding-right: 18px; }

  .logo-img {
    margin-left: 2px; }

  #contact-page .form-contact-area {
    width: calc(100% - 36px); }
  #contact-page .form-contact {
    padding-top: 48px;
    padding-bottom: 56px; }
    #contact-page .form-contact .title-contact {
      margin-bottom: 24px; }
    #contact-page .form-contact button {
      margin-top: 8px; }
  #contact-page .contact-map iframe {
    height: 319px; }

  .navbar-top-area .title-page {
    font-size: 24px;
    line-height: 24px;
    margin-top: 60px;
    padding-bottom: 22px; }

  footer {
    padding-bottom: 60px; }
    footer .logo-footer {
      padding-top: 40px; }

  #news-page .title-slide-news {
    font-size: 24px;
    line-height: 32px; }
  #news-page .item-slide-news {
    display: block; }
  #news-page .img-slide-news {
    width: 100%; }
  #news-page .content-slide-news {
    width: 100%;
    margin-top: 24px; }
  #news-page .slick-dots {
    text-align: center; }
  #news-page .prev-arrow {
    left: 5px;
    z-index: 1;
    top: 19%; }
  #news-page .next-arrow {
    right: 5px;
    z-index: 1;
    top: 19%; }
  #news-page .nav-tabs {
    justify-content: initial;
    margin-bottom: 40px; }
    #news-page .nav-tabs .nav-item {
      flex: inherit;
      text-align: center;
      padding: 0 8px 16px 8px; }
      #news-page .nav-tabs .nav-item .nav-link {
        font-size: 16px;
        line-height: 22px; }
        #news-page .nav-tabs .nav-item .nav-link::before {
          padding-top: 4px;
          margin-bottom: 10px; }
        #news-page .nav-tabs .nav-item .nav-link.active::before {
          padding-top: 4px;
          margin-bottom: 10px; }

  .display-md {
    display: block; }

  .hidden-md {
    display: none; }

  .number-detail-job {
    display: block; }
    .number-detail-job .item-number-detail {
      display: inline-flex;
      width: 32%; }

  #job-detail-page {
    padding-bottom: 56px; }
    #job-detail-page .content-job-detail {
      width: initial;
      padding-left: 18px;
      padding-right: 18px; }
      #job-detail-page .content-job-detail .title-job-detail {
        margin-top: 0; }
    #job-detail-page .container-detail-job {
      padding-left: 18px;
      padding-right: 18px;
      width: 100%; }
    #job-detail-page .area-apply {
      padding: 40px 16px 44px 16px; }
      #job-detail-page .area-apply .title-apply {
        font-size: 20px;
        line-height: 44px;
        margin-bottom: 28px; }
      #job-detail-page .area-apply .input-apply-group {
        display: block; }
        #job-detail-page .area-apply .input-apply-group input {
          width: 100%;
          margin-bottom: 16px; }
        #job-detail-page .area-apply .input-apply-group .btn-upload-file-apply {
          margin-bottom: 0; }

  .list-job {
    display: none; }

  .item-job-mb {
    padding: 24px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-bottom: 24px; }
    .item-job-mb .name-job-mb {
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: #000000;
      margin-bottom: 8px; }
    .item-job-mb .des-job-mb {
      font-size: 14px;
      line-height: 22px;
      color: #626262;
      margin-bottom: 24px; }
    .item-job-mb .info-job-mb {
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 25px;
      color: #222222;
      margin-bottom: 16px; }
      .item-job-mb .info-job-mb:last-child {
        margin-bottom: 0; }
      .item-job-mb .info-job-mb span {
        margin-left: 16px; }

  .navbar-top-area {
    background-color: #00263C;
    background-image: none; }

  .list-job-mb {
    display: block; }

  #list-job-page .area-list-job {
    width: calc(100% - 36px);
    padding-bottom: 40px; }
  #list-job-page .form-search-job {
    padding: 40px 24px 36px 24px;
    margin-bottom: 48px; }
    #list-job-page .form-search-job .title-search-job {
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 24px; }
    #list-job-page .form-search-job form {
      display: block; }
      #list-job-page .form-search-job form > div {
        width: 100% !important;
        margin-bottom: 16px; }
        #list-job-page .form-search-job form > div:last-child {
          margin-bottom: 0; }
  #list-job-page .pagination {
    margin-bottom: 0; }
  #list-job-page .download-cv {
    margin-bottom: 40px; }

  #job-page .content-job-page {
    width: calc(100% - 36px);
    padding-top: 42px;
    padding-bottom: 48px; }
  #job-page .title-job-page {
    font-size: 20px;
    line-height: 32px; }
  #job-page .des-job-page {
    width: initial; }
  #job-page .three-column-job .title-three-job {
    margin-top: 8px;
    margin-bottom: 56px; }
  #job-page .three-column-job .col-md-4 {
    margin-bottom: 40px; }
    #job-page .three-column-job .col-md-4:last-child {
      margin-bottom: 8px; }
  #job-page .userfind-job {
    width: 100%;
    padding: 48px 24px; }
    #job-page .userfind-job .des-userfind-job {
      width: initial; }
  #job-page .skill-job {
    display: block;
    padding-bottom: 0; }
    #job-page .skill-job .item-skill-job {
      margin-bottom: 48px; }
  #job-page .title-feature-job {
    margin-top: 14px;
    margin-bottom: 24px;
    font-size: 20px; }
  #job-page .view-all-job {
    margin-top: 24px; }

  .cultural-job {
    padding-top: 14px;
    padding-bottom: 14px;
    display: block; }
    .cultural-job .column-left {
      width: 100%;
      margin-bottom: 30px; }
    .cultural-job .column-right {
      width: 100%; } }

/*# sourceMappingURL=app.css.map */
