body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7; }

.logo-img {
  margin-left: 48px; }

.navbar-top-area {
  background-image: url("../images/bg-navbar.png"); }
  .navbar-top-area .navbar {
    padding-top: 27px; }
    .navbar-top-area .navbar .navbar-brand {
      margin-right: 125px; }
    .navbar-top-area .navbar li a {
      padding: 4px 21px !important;
      color: #ffffff !important;
      font-size: 16px; }
    .navbar-top-area .navbar li.active a {
      color: #57AE5B !important; }
    .navbar-top-area .navbar .icon-change-language {
      line-height: 32px;
      margin-right: 48px; }
  .navbar-top-area .title-page {
    font-family: 'EB Garamond', serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    color: #57AE5B;
    margin-top: 152px;
    margin-left: 302px;
    padding-bottom: 120px; }

#contact-page .form-contact-area {
  width: 648px;
  margin-left: auto;
  margin-right: auto; }
#contact-page .form-contact {
  padding: 56px 0; }
  #contact-page .form-contact .title-contact {
    font-size: 20px;
    line-height: 44px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 48px; }
  #contact-page .form-contact .item-form-contact {
    margin-bottom: 24px; }
    #contact-page .form-contact .item-form-contact input {
      border-radius: 8px;
      border-color: #dedede;
      font-size: 16px;
      line-height: 25px;
      height: 50px;
      padding: 12px 24px 13px 24px;
      color: rgba(0, 0, 0, 0.32); }
    #contact-page .form-contact .item-form-contact textarea {
      padding: 12px 24px 13px 24px;
      font-size: 16px;
      line-height: 25px;
      color: rgba(0, 0, 0, 0.32);
      border-radius: 8px;
      resize: none; }
  #contact-page .form-contact button {
    width: 200px;
    font-size: 16px;
    line-height: 25px;
    padding-top: 12px;
    padding-bottom: 11px;
    font-weight: 600;
    border-radius: 8px;
    color: #57AE5B;
    border: 2px solid #57AE5B;
    margin-top: 16px; }
    #contact-page .form-contact button:hover {
      background-color: #57AE5B;
      color: #ffffff; }
#contact-page .contact-map iframe {
  max-width: 100%;
  height: 657px; }

#job-page {
  background-color: #ffffff; }
  #job-page .content-job-page {
    width: 1124px;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 88px; }
  #job-page .title-job-page {
    font-size: 32px;
    line-height: 51px;
    font-weight: bold;
    color: #222222;
    margin-bottom: 16px;
    text-align: center; }
  #job-page .des-job-page {
    font-size: 16px;
    line-height: 32px;
    color: #7e7e7e;
    text-align: center;
    margin: auto;
    width: 648px; }
  #job-page .btn-list-job {
    margin-top: 40px;
    text-align: center; }
    #job-page .btn-list-job .btn {
      font-size: 20px;
      line-height: 32px;
      color: #fff;
      padding: 12px 48px;
      background-color: #57AE5B;
      border-radius: 8px; }
  #job-page .three-column-job {
    background-color: #F7F7F7; }
    #job-page .three-column-job .title-three-job {
      font-family: 'EB Garamond', serif;
      font-size: 32px;
      line-height: 64px;
      font-weight: 600;
      color: #222222;
      margin-top: 88px;
      margin-bottom: 64px;
      text-align: center; }
    #job-page .three-column-job .title-reason-job {
      margin-bottom: 24px;
      display: flex; }
      #job-page .three-column-job .title-reason-job .col-left {
        align-self: flex-end; }
      #job-page .three-column-job .title-reason-job img {
        margin-right: 32px; }
      #job-page .three-column-job .title-reason-job span {
        font-size: 16px;
        line-height: 16px;
        font-weight: bold;
        color: #207227; }
    #job-page .three-column-job .content-reason-job {
      font-size: 16px;
      line-height: 32px;
      color: #000000; }
  #job-page .cultural-job {
    padding-top: 122px;
    padding-bottom: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    #job-page .cultural-job .column-left {
      width: 424px; }
      #job-page .cultural-job .column-left .title-cultural-job {
        font-size: 32px;
        font-weight: 600;
        font-family: 'EB Garamond', serif;
        margin-bottom: 48px; }
        #job-page .cultural-job .column-left .title-cultural-job:after {
          content: '';
          display: block;
          margin-top: 6px;
          padding-top: 2px;
          width: 112px;
          background-color: #7BC47F; }
      #job-page .cultural-job .column-left .des-curtural-job {
        font-size: 16px;
        line-height: 25px;
        color: #515151; }
    #job-page .cultural-job .column-right {
      width: 536px; }
  #job-page .detail-jobs {
    background-image: url("../images/bg-detail-jobs.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 150px; }
  #job-page .userfind-job {
    padding: 88px 226px;
    background-color: #57AE5B; }
    #job-page .userfind-job .title-userfind-job {
      font-size: 32px;
      font-weight: 600;
      font-family: 'EB Garamond', serif;
      color: #ffffff;
      margin-bottom: 24p;
      text-align: center; }
    #job-page .userfind-job .des-userfind-job {
      width: 648px;
      font-size: 16px;
      line-height: 25px;
      color: #EFFCF1;
      text-align: center;
      margin-bottom: 64px;
      margin-left: auto;
      margin-right: auto; }
  #job-page .skill-job {
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between; }
    #job-page .skill-job:last-child {
      padding-bottom: 0; }
    #job-page .skill-job .item-skill-job {
      width: 381px; }
    #job-page .skill-job .title-skill-job {
      display: flex;
      margin-bottom: 24px; }
      #job-page .skill-job .title-skill-job img {
        margin-right: 30px; }
      #job-page .skill-job .title-skill-job span {
        color: #ffffff;
        font-size: 16px;
        line-height: 16px;
        align-self: flex-end; }
    #job-page .skill-job .des-skill-job {
      font-size: 16px;
      line-height: 32px;
      color: #EFFCF1; }
  #job-page .title-feature-job {
    font-size: 32px;
    font-weight: 600;
    color: #222222;
    font-family: 'EB Garamond', serif;
    margin-top: 80px;
    margin-bottom: 64px;
    text-align: center; }
  #job-page .view-all-job {
    margin-top: 56px;
    text-align: center; }
    #job-page .view-all-job .btn {
      font-size: 16px;
      line-height: 25px;
      font-weight: 600;
      color: #57AE5B;
      border: 2px solid #57AE5B;
      border-radius: 8px;
      padding: 12px 54px; }

.list-job table {
  width: 100%; }
  .list-job table thead th {
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    color: #626262;
    padding: 16px 40px; }
  .list-job table tbody tr {
    background-color: #ffffff;
    border-bottom: 16px solid #f7f7f7; }
    .list-job table tbody tr:last-child {
      margin-bottom: 0; }
  .list-job table tbody td {
    padding: 32px 40px; }
  .list-job table tbody .name-job {
    font-size: 20px;
    line-height: 32px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 8px; }
  .list-job table tbody .company-job {
    font-size: 14px;
    line-height: 22px;
    color: #626262; }

footer {
  padding-bottom: 100px;
  background-color: #ffffff; }
  footer .logo-footer {
    padding-top: 96px;
    padding-bottom: 48px; }
    footer .logo-footer img {
      height: 48px; }
  footer .title-col-footer {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #222222; }
  footer .item-content-footer {
    font-size: 14px;
    line-height: 22px;
    color: #626262;
    margin-bottom: 10px; }
    footer .item-content-footer .title {
      color: #222222; }
  footer .contact-us-social {
    padding-left: 0; }
    footer .contact-us-social li {
      display: inline-block;
      margin-right: 32px; }
      footer .contact-us-social li:last-child {
        margin-right: 0; }
      footer .contact-us-social li img {
        width: 32px;
        height: 32px; }

#list-job-page .area-list-job {
  width: 1096px;
  margin: auto;
  background-color: #f7f7f7;
  padding-top: 56px;
  padding-bottom: 112px; }
#list-job-page .form-search-job {
  padding: 56px 80px;
  background-color: #57AE5B;
  margin-bottom: 50px; }
  #list-job-page .form-search-job .title-search-job {
    font-size: 32px;
    line-height: 51px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    margin-bottom: 50px; }
  #list-job-page .form-search-job form {
    display: flex;
    justify-content: space-between; }
  #list-job-page .form-search-job .search-keyword {
    width: 312px;
    position: relative; }
    #list-job-page .form-search-job .search-keyword input {
      font-size: 16px;
      height: 48px;
      font-weight: 600;
      background-color: rgba(193, 234, 197, 0.56);
      padding: 12px 22px 11px 64px;
      width: 100%;
      border-radius: 8px; }
      #list-job-page .form-search-job .search-keyword input::placeholder {
        color: #ffffff; }
    #list-job-page .form-search-job .search-keyword img {
      position: absolute;
      top: 14px;
      left: 26px; }
  #list-job-page .form-search-job .select-option-job {
    width: 200px; }
    #list-job-page .form-search-job .select-option-job select {
      height: 48px;
      padding: 0 24px;
      font-size: 16px;
      color: #515151;
      font-weight: 600;
      border-radius: 8px; }
  #list-job-page .form-search-job .btn-search-job {
    width: 154px; }
    #list-job-page .form-search-job .btn-search-job button {
      height: 48px;
      font-size: 16px;
      color: #57AE5B;
      font-weight: 600;
      background-color: #ffffff;
      border-radius: 8px;
      width: 100%; }
#list-job-page .download-cv {
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 90px; }

.pagination {
  justify-content: center; }
  .pagination .page-item .page-link {
    background: none;
    border: none;
    color: #626262; }
  .pagination .page-item.active .page-link {
    border: 1px solid #515151;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 6px 12px; }

#job-detail-page {
  padding-top: 32px;
  padding-bottom: 112px;
  border-bottom: 1px solid #eee;
  background-color: #ffffff; }
  #job-detail-page .content-job-detail {
    width: 648px;
    margin: auto; }
    #job-detail-page .content-job-detail .title-job-detail {
      font-size: 22px;
      line-height: 44px;
      font-weight: 600;
      color: #000000;
      margin-top: 56px;
      margin-bottom: 16px; }
    #job-detail-page .content-job-detail .des-job-detail {
      font-size: 16px;
      line-height: 32px;
      color: #000000; }
  #job-detail-page .container-detail-job {
    width: 1096px;
    margin: auto; }
  #job-detail-page .area-apply {
    margin-top: 56px;
    padding: 56px 188px;
    background-color: #57AE5B; }
    #job-detail-page .area-apply .title-apply {
      font-size: 32px;
      line-height: 51px;
      font-weight: 600;
      color: #ffffff;
      text-align: center;
      margin-bottom: 48px; }
    #job-detail-page .area-apply .input-apply-group {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px; }
      #job-detail-page .area-apply .input-apply-group input {
        height: 48px;
        width: 224px;
        padding-left: 24px;
        padding-right: 24px;
        color: #ffffff;
        background-color: rgba(193, 234, 197, 0.56);
        border-radius: 8px; }
        #job-detail-page .area-apply .input-apply-group input::placeholder {
          color: rgba(255, 255, 255, 0.64); }
    #job-detail-page .area-apply .btn-upload-file-apply {
      line-height: 48px;
      font-size: 16px;
      color: #ffffff;
      padding-left: 24px;
      padding-right: 24px;
      background-color: rgba(193, 234, 197, 0.56);
      border: 1px dashed #ffffff;
      margin-bottom: 32px;
      border-radius: 8px; }
    #job-detail-page .area-apply #file_apply {
      opacity: 0; }
    #job-detail-page .area-apply .btn-submit-apply {
      text-align: center; }
      #job-detail-page .area-apply .btn-submit-apply .btn {
        height: 48px;
        font-size: 16px;
        color: #57AE5B;
        font-weight: 600;
        background-color: #ffffff;
        border-radius: 8px;
        padding-left: 32px;
        padding-right: 32px;
        cursor: pointer; }

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1316px; } }
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .container {
    max-width: 1010px; }

  .logo-img {
    height: 24px;
    line-height: 24px; }

  .navbar-top-area .title-page {
    font-size: 40px;
    line-height: 64px;
    margin-top: 120px;
    margin-left: 215px;
    padding-bottom: 80px; }

  .navbar-top-area .navbar {
    padding-top: 24px; }
    .navbar-top-area .navbar .navbar-brand {
      margin-right: 62px; }

  #contact-page .contact-map iframe {
    height: 465px; }

  footer .title-col-footer {
    font-size: 16px; } }
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .logo-img {
    margin-left: 8px; }

  .navbar-top-area .title-page {
    font-size: 32px;
    line-height: initial;
    margin-left: 24px;
    margin-top: 78px;
    padding-bottom: 48px; }

  #contact-page .form-contact-area {
    width: 610px; }
  #contact-page .form-contact {
    padding-top: 48px;
    padding-bottom: 56px; }
  #contact-page .contact-map iframe {
    height: 267px; }

  footer {
    padding-bottom: 0; }
    footer .container {
      padding: 0; }
    footer .logo-footer {
      padding-top: 64px;
      padding-bottom: 40px; }
    footer .col-footer {
      padding-bottom: 56px; } }
@media screen and (max-width: 767px) {
  .logo-img {
    margin-left: 2px; }

  #contact-page .form-contact-area {
    width: calc(100% - 36px); }
  #contact-page .form-contact {
    padding-top: 48px;
    padding-bottom: 56px; }
    #contact-page .form-contact .title-contact {
      margin-bottom: 24px; }
    #contact-page .form-contact button {
      margin-top: 8px; }
  #contact-page .contact-map iframe {
    height: 319px; }

  .navbar-top-area .title-page {
    font-size: 24px;
    line-height: 24px;
    margin-left: 18px;
    margin-top: 60px;
    padding-bottom: 22px; } }

/*# sourceMappingURL=app.css.map */
