body {
	font-family: 'Open Sans', sans-serif;
	background-color: #f7f7f7;
}
.form-control {
	&:focus {
		box-shadow: none;
	}
}
.invalid-feedback {
	margin-top: 8px;
	padding-left: 24px;
	font-size: 12px;
	line-height: 18px;
}
.form-control.is-invalid {
	background-image: url('../images/icon-invalid.svg');
	background-size: 12px 12px;
}
.logo-img {
	margin-left: 48px;
}
.background-white {
	background-color: #ffffff;
}
.navbar-top-area {
	background-image: url('../images/bg-header-lg.svg');
	background-position: bottom right;
	background-repeat: no-repeat;

	.navbar {
		padding-top: 27px;

		.navbar-brand {
			height: 32px;
			margin-right: 125px;
		}
		li {
			a {
				padding: 4px 21px !important;
				color: #ffffff !important;
				font-size: 16px;
			}
			&.active {
				a {
					color: #57AE5B !important;
				}
			}
		}
		.icon-change-language {
			line-height: 32px;
			margin-right: 48px;
		}
	}
	.title-page {
		font-family: 'EB Garamond', serif;
		font-size: 48px;
		font-weight: 600;
		line-height: 64px;
		color: #57AE5B;
		margin-top: 149px;
		padding-bottom: 120px;
	}
}

#contact-page {
	.form-contact-area {
		width: 648px;
		margin-left: auto;
		margin-right: auto;
	}
	.form-contact {
		padding: 56px 0;

		.title-contact {
			font-size: 20px;
			line-height: 44px;
			color: #000000;
			font-weight: 600;
			margin-bottom: 48px;
		}
		.item-form-contact {
			margin-bottom: 24px;

			input {
				border-color: #dedede;
				border-radius: 8px;
				font-size: 16px;
				line-height: 25px;
				height: 50px;
				padding: 12px 24px 13px 24px;
			}
			textarea {
				padding: 12px 24px 13px 24px;
				font-size: 16px;
				line-height: 25px;
				color: rgba(0, 0, 0, 0.32);
				border-radius: 8px;
				resize: none;
			}
		}
		button {
			width: 200px;
			font-size: 16px;
			line-height: 25px;
			padding-top: 10px;
			padding-bottom: 9px;
			font-weight: 600;
			border-radius: 8px;
			color: #57AE5B;
			border: 2px solid #57AE5B;
			margin-top: 16px;

			&:hover {
				background-color: #57AE5B;
				color: #ffffff;
			}
		}
	}
	.contact-map {
		iframe {
			max-width: 100%;
			height: 657px;
		}
	}
}

#job-page {
	background-color: #ffffff;

	.content-job-page {
		width: 1124px;
		margin: auto;
		padding-top: 80px;
		padding-bottom: 88px;
	}
	.title-job-page {
		font-size: 32px;
		line-height: 51px;
		font-weight: bold;
		color: #222222;
		margin-bottom: 16px;
		text-align: center;
	}
	.des-job-page {
		font-size: 16px;
		line-height: 32px;
		color: #7e7e7e;
		text-align: center;
		margin: auto;
		width: 648px;
	}
	.btn-list-job {
		margin-top: 40px;
		text-align: center;

		.btn {
			font-size: 20px;
			line-height: 32px;
			color: #fff;
			padding: 12px 48px;
			background-color: #57AE5B;
			border-radius: 8px;
		}
	}
	.three-column-job {
		background-color: #F7F7F7;

		.title-three-job {
			font-family: 'EB Garamond', serif;
			font-size: 32px;
			line-height: 64px;
			font-weight: 600;
			color: #222222;
			margin-top: 88px;
			margin-bottom: 64px;
			text-align: center;
		}
		.title-reason-job {
			margin-bottom: 24px;
			display: flex;

			.col-left {
				align-self: flex-end;
			}
			img {
				margin-right: 32px;
			}
			span {
				font-size: 16px;
				line-height: 16px;
				font-weight: bold;
				color: #207227;
			}
		}
		.content-reason-job {
			font-size: 16px;
			line-height: 32px;
			color: #000000;
		}
	}
	.detail-jobs {
		background-image: url('../images/bg-detail-jobs.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0 150px;
	}
	.userfind-job {
		padding: 88px 226px;
		background-color: #57AE5B;

		.title-userfind-job {
			font-size: 32px;
			font-weight: 600;
			font-family: 'EB Garamond', serif;
			color: #ffffff;
			margin-bottom: 24p;
			text-align: center;
		}
		.des-userfind-job {
			width: 648px;
			font-size: 16px;
			line-height: 25px;
			color: #EFFCF1;
			text-align: center;
			margin-bottom: 64px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.skill-job {
		padding-bottom: 40px;
		display: flex;
		justify-content: space-between;

		&:last-child {
			padding-bottom: 0;
		}

		.item-skill-job {
			width: 381px;
		}
		.title-skill-job {
			display: flex;
			margin-bottom: 24px;

			img {
				margin-right: 30px;
			}
			span {
				color: #ffffff;
				font-size: 16px;
				line-height: 16px;
				align-self: flex-end;
			}
		}
		.des-skill-job {
			font-size: 16px;
			line-height: 32px;
			color: #EFFCF1;
		}
	}
	.title-feature-job {
		font-size: 32px;
		font-weight: 600;
		color: #222222;
		font-family: 'EB Garamond', serif;
		margin-top: 80px;
		margin-bottom: 64px;
		text-align: center;
	}
	.view-all-job {
		margin-top: 56px;
		text-align: center;

		.btn {
			font-size: 16px;
			line-height: 25px;
			font-weight: 600;
			border: 2px solid #57AE5B;
			border-radius: 8px;
			padding: 12px 54px;
		}
	}
}

.list-job {
	table {
		width: 100%;

		thead {
			th {
				font-size: 12px;
				line-height: 18px;
				font-weight: 600;
				color: #626262;
				padding: 16px 40px;
			}
		}
		tbody {
			tr {
				background-color: #ffffff;
				border-bottom: 16px solid #f7f7f7;

				&:last-child {
					margin-bottom: 0;
				}
			}
			td {
				padding: 32px 40px;
			}
			.name-job {
				font-size: 20px;
				line-height: 32px;
				font-weight: bold;
				color: #000000;
				margin-bottom: 8px;
			}
			.company-job {
				font-size: 14px;
				line-height: 22px;
				color: #626262;
			}
		}
	}
}

footer {
	padding-bottom: 100px;
	background-color: #ffffff;

	.logo-footer {
		padding-top: 96px;
		padding-bottom: 48px;
		img {
			height: 48px;
		}
	}
	.title-col-footer {
		font-size: 20px;
		line-height: 32px;
		font-weight: 600;
		margin-bottom: 16px;
		color: #222222;
	}
	.item-content-footer {
		font-size: 14px;
		line-height: 22px;
		color: #626262;
		margin-bottom: 10px;

		.title {
			color: #222222;
		}
	}
	.contact-us-social {
		padding-left: 0;

		li {
			display: inline-block;
			margin-right: 32px;

			&:last-child {
				margin-right: 0;
			}
			img {
				width: 32px;
				height: 32px;
			}
		}
	}
}

#list-job-page {
	.area-list-job {
		width: 1096px;
		margin: auto;
		background-color: #f7f7f7;
		padding-top: 56px;
		padding-bottom: 112px;
	}
	.form-search-job {
		padding: 56px 80px;
		background-color: #57AE5B;
		margin-bottom: 50px;

		.title-search-job {
			font-size: 32px;
			line-height: 51px;
			font-weight: 600;
			color: #ffffff;
			text-align: center;
			margin-bottom: 50px;
		}
		form {
			display: flex;
			justify-content: space-between;
		}
		.search-keyword {
			width: 312px;
			position: relative;

			input {
				font-size: 16px;
				height: 48px;
				font-weight: 600;
				background-color: rgba(193, 234, 197, 0.56);
				padding: 12px 22px 11px 64px;
				width: 100%;
				border-radius: 8px;

				&::placeholder {
					color: #ffffff;
				}
			}
			img {
				position: absolute;
				top: 14px;
				left: 26px;
			}
		}
		.select-option-job {
			width: 200px;

			select {
				height: 48px;
				padding: 0 24px;
				font-size: 16px;
				color: #515151;
				font-weight: 600;
				border-radius: 8px;
			}
		}
		.btn-search-job {
			width: 154px;

			button {
				height: 48px;
				font-size: 16px;
				color: #57AE5B;
				font-weight: 600;
				background-color: #ffffff;
				border-radius: 8px;
				width: 100%;
			}
		}
	}
	.download-cv {
		font-size: 14px;
		line-height: 22px;
		color: #000000;
		margin-bottom: 90px;
	}
}

.pagination {
	justify-content: center;

	.page-item {
		.page-link {
			background: none;
			border: none;
			color: #626262;
		}
		&.active {
			.page-link {
				border: 1px solid #515151;
				border-radius: 4px;
				background-color: #ffffff;
				padding: 6px 12px;
			}
		}
	}
}

.cultural-job {
	padding-top: 122px;
	padding-bottom: 128px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.column-left {
		width: 424px;
		.des-curtural-job {
			font-size: 16px;
			line-height: 25px;
			color: #515151;
		}
	}
	.column-right {
		width: 536px;
	}
}

#job-detail-page {
	padding-top: 32px;
	padding-bottom: 112px;
	border-bottom: 1px solid #eee;
	background-color: #ffffff;

	.content-job-detail {
		width: 648px;
		margin: auto;
		.title-job-detail {
			font-size: 22px;
			line-height: 44px;
			font-weight: 600;
			color: #000000;
			margin-top: 56px;
			margin-bottom: 16px;
		}
		.des-job-detail {
			font-size: 16px;
			line-height: 32px;
			color: #000000;
		}
	}
	.container-detail-job {
		width: 1096px;
		margin: auto;
	}
	.area-apply {
		margin-top: 56px;
		padding: 56px 188px;
		background-color: #57AE5B;

		.title-apply {
			font-size: 32px;
			line-height: 51px;
			font-weight: 600;
			color: #ffffff;
			text-align: center;
			margin-bottom: 48px;
		}
		.input-apply-group {
			display: flex;
			justify-content: space-between;
			margin-bottom: 24px;

			input {
				height: 48px;
				width: 224px;
				padding-left: 24px;
				padding-right: 24px;
				color: #ffffff;
				background-color: rgba(193, 234, 197, 0.56);
				border-radius: 8px;

				&::placeholder {
					color: rgba(255, 255, 255, 0.64);
				}
			}
		}
		.btn-upload-file-apply {
			line-height: 48px;
			font-size: 16px;
			color: #ffffff;
			padding-left: 24px;
			padding-right: 24px;
			background-color: rgba(193, 234, 197, 0.56);
			border: 1px dashed #ffffff;
			margin-bottom: 32px;
			border-radius: 8px;
		}
		#file_apply {
			opacity: 0;
		}
		.btn-submit-apply {
			text-align: center;

			.btn {
				height: 48px;
				font-size: 16px;
				color: #57AE5B;
				font-weight: 600;
				background-color: #ffffff;
				border-radius: 8px;
				padding-left: 32px;
				padding-right: 32px;
				cursor: pointer;
			}
		}
	}
}

#news-page {
	background-color: #ffffff;
	border-bottom: 1px solid #eeeeee;

	.item-slide-news {
		display: flex;
		justify-content: space-between;
	}
	.img-slide-news {
		width: 760px;
	}
	.content-slide-news {
		width: 496px;
		align-self: center;
	}
	.title-slide-news {
		font-size: 32px;
		line-height: 48px;
		font-weight: 600;
		font-family: "EB Garamond", serif;
		color: #222222;
		margin-bottom: 16px;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	.des-slide-news {
		font-size: 16px;
		line-height: 25px;
		color: #515151;
		margin-bottom: 24px;
		overflow: hidden;
	    display: -webkit-box;
	    -webkit-line-clamp: 3;
	    -webkit-box-orient: vertical;
	}
	.date-slide-news {
		font-size: 14px;
		line-height: 22px;
		color: #7E7E7E;
	}
	.list-news {
		padding-top: 74px;
	}
}
main {
	.slick-dots {
		background-color: #ffffff;
		text-align: left;
		line-height: 2px;
		bottom: -34px;
	
		li {
			height: 2px;
			width: 40px;
			margin-left: 0;
			margin-right: 16px;
	
			&:last-child {
				margin-right: 0;
			}
	
			button {
				background-color: #003C5F;
				height: 2px;
				width: 40px;
				padding: 0;
	
				&::before {
					content: '';
					height: 2px;
				}
			}
	
			&.slick-active {
				button {
					background-color: #57AE5B;
				}
			}
		}
	}
	.prev-arrow {
		position: absolute;
		top: 50%;
		left: -40px;
	}
	.next-arrow {
		position: absolute;
		top: 50%;
		right: -40px;
	}
	.pagination {
		// margin-bottom: 160px;
	}
	.nav-tabs {
		justify-content: space-between;
		border: none;
		margin-bottom: 88px;

		.nav-item {
			flex: 1;
			text-align: center;

			.nav-link {
				font-size: 20px;
				line-height: 32px;
				font-weight: 600;
				color: #7E7E7E;
				padding: 0;
				border: none;

				&:before {
					content: '';
					display: block;
					padding-top: 8px;
					background-color: #ffffff;
					margin-bottom: 27px;
				}

				&:hover {
					border-color: #ffffff;
				}

				&.active {
					color: #222222;
					border: none;

					&:before {
						content: '';
						display: block;
						padding-top: 8px;
						background-color: #57AE5B;
						margin-bottom: 27px;
					}
				}
			}
		}
	}
}

.content-page {
	width: 1096px;
	margin: auto;
}
.item-news {
	margin-bottom: 64px;

	.cate-news {
		font-size: 12px;
		line-height: 18px;
		color: #626262;
		margin-top: 24px;
		margin-bottom: 16px;
	}
	.title-news {
		font-size: 20px;
		line-height: 32px;
		font-weight: bold;
		color: #222222;
	}
	.des-news {
		font-size: 14px;
		line-height: 22px;
		color: #515151;
		margin-bottom: 16px;
	}
	.date-news {
		font-size: 14px;
		line-height: 22px;
		color: #7e7e7e;
	}
	&:hover {
		text-decoration: none;
	}
}

.title-border-bottom {
	font-size: 32px;
	font-weight: 600;
	font-family: 'EB Garamond', serif;
	margin-bottom: 48px;

	&:after {
		content: '';
		display: block;
		margin-top: 6px;
		padding-top: 2px;
		width: 112px;
		background-color: #7BC47F;
	}
}

.tag-news {
	width: fit-content;
	font-size: 12px;
	line-height: 18px;
	color: #2F8132;
	padding: 7px 16px;
	background-color: #C1EAC5;
	border-radius: 8px;
	margin-bottom: 24px;
}

.tags-secondary {
	padding: 7px 16px;
	font-size: 12px;
	line-height: 18px;
	color: #7e7e7e;
	background-color: #f7f7f7;
	border-radius: 8px;
}

#news-detail-page {
	.area-detail-news {
		padding-top: 56px;
		padding-bottom: 48px;
		width: 648px;
		margin: auto;
	}
	.content-detail-news {
		padding-bottom: 48px;
		border-bottom: 1px solid #dedede;
	}
	.share-detail-news {
		margin-top: 40px;
	}
	.news-social {
		padding-left: 0;

		li {
			display: inline-block;
			padding: 4px 16px 4px 0;

			&:last-child {
				padding-right: 0;
			}
		}
	}
	.relation-news {
		background-color: #f7f7f7;
		padding-top: 72px;
		padding-bottom: 72px;

		.title-relation-news {
			margin-bottom: 52px;
			font-size: 32px;
			font-weight: 600;
			font-family: "EB Garamond", serif;
			color: #222222;
			text-align: center
		}
		.item-news {
			padding: 0 20px;
		}
	}
	.slick-dots {
		text-align: center;
		background-color: #f7f7f7;
		border-radius: 8px;
	}
	.slick-slide {
		transition: transform 0.3s ease-out;

		&:hover {
			transform: translateY(-16px);
		}
	}
	.item-news {
		margin-bottom: 10px;

		.img-news {
			border-radius: 8px 8px 0 0;

			img {
				width: 100%;
			}
		}
		.content-news {
			padding: 24px;
			background-color: #ffffff;
			border-radius: 0 0 8px 8px;

			.cate-news {
				margin-top: 0;
			}
			.title-news {
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
			.des-news {
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
			}
		}
	}

	.slide-relation-news {
		.slick-list {
			padding-top: 16px;
		}
	}
}

.no-title-page {
	.title-page {
		display: none;
	}
	nav {
		padding-bottom: 27px;
	}
}

.modal-backdrop {
	background-color: #00263C;
	&.show {
		opacity: 0.88;
	}
}

#introduce-page {
	#company {
		.cultural-job {
			padding-top: 0;
			padding-bottom: 88px;
		}
		.title-border-bottom {
			margin-top: 130px;
			margin-bottom: 64px;
		}
		.introduce-general {
			padding: 176px 0;
			background-color: #EFFCF1;
			margin-left: calc(50vw - 658px);
			margin-bottom: 276px;
			position: relative;

			.view-more-intro {
				width: 414px;
				padding: 24px 28px 24px 102px;
				background-color: #ffffff;
				font-size: 16px;
				line-height: 24px;
				position: absolute;
				bottom: 0;
				left: 350px;
				cursor: pointer;
			}
		}
		.img-introduce {
			position: relative;

			img {
				position: absolute;
				top: -96px;
				right: 70px;
			}
		}
		.column-text {
			width: 383px;

			.title-border-bottom {
				margin-top: initial;
				margin-bottom: 56px;
			}
		}
		.column-image {
			width: 648px;
		}
		.history-develop {
			background-color: #00263C;
			padding-top: 88px;
			padding-bottom: 56px;

			.nav-tabs {
				margin-bottom: 120px;
			}
			.nav-link {
				font-size: 16px;
				line-height: 25px;
				color: #004A74;
				background: none;
				border: none;

				&::before {
					display: none;
				}
				&::after {
					content: '';
					display: block;
					padding-top: 2px;
					margin-top: 20px;
					background-color: #004A74;
				}
				&.active {
					color: #ffffff;
					&::after {
						background-color: #57AE5B;
					}
				}
			}
			.title-history-develop {
				margin-bottom: 30px;
				font-size: 56px;
				font-weight: 600;
				color: #ffffff;
				font-family: "EB Garamond", serif;
			}
			.item-history-slide {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			.text-history-slide {
				width: 422px;
				margin-left: 114px;
				color: #B0D0E3;
			}
			.img-history-slide {
				width: 648px;
				position: relative;
				padding-bottom: 32px;

				&::before {
					content: '';
					display: block;
					position: absolute;
					background-color: rgba(0, 13, 0, 0.16);
					width: 100%;
					height: 100%;
					top: 32px;
					left: -32px;
				}
				img {
					position: inherit;
				}
			}
			.prev-arrow {
				top: initial;
				bottom: 46px;
				left: 114px;
				z-index: 1;
				cursor: pointer;
			}
			.next-arrow {
				top: initial;
				bottom: 46px;
				left: 224px;
				z-index: 1;
				cursor: pointer;
			}
		}
	}
	#leader {
		padding-bottom: 176px;
		border-bottom: 1px solid #dedede;
		.des-leader {
			font-size: 16px;
			line-height: 25px;
			color: #515151;
			margin-bottom: 120px;
		}
		.list-member {
			position: relative;
			padding-top: 88px;

			.bg-list-member {
				position: absolute;
				top: 0;
				left: 0;
				width: 70%;
				height: 815px;
				background-color: #EFFCF1;
			}
		}
		.leader-slide {
			.slick-dots {
				text-align: center;
			}
		}
		.row-leader {
			display: flex;
			justify-content: space-between;
			margin-bottom: 40px;

			.item-leader-slide {
				width: calc(50% - 20px);
				background-color: #ffffff;
				cursor: pointer;

				&:hover {
					background: #57AE5B;

					.name-leader {
						color: #ffffff;
					}
					.role-company {
						color: #C1EAC5;
					}
				}
			}
		}
		.info-leader {
			padding: 40px 0;
			text-align: center;

			.name-leader {
				font-size: 20px;
				font-weight: 600;
				font-family: "EB Garamond", serif;
				color: #222222;
				margin-bottom: 16px;
			}
			.role-company {
				font-size: 16px;
				line-height: 25px;
				color: #7e7e7e;
			}
		}
		.detail-leader {
			font-size: 16px;
			line-height: 32px;
			color: #000000;
			padding: 32px 112px 47px 112px;
			text-align: left;
		}
		.modal-content {
			border-radius: 8px;

			.modal-header {
				border-bottom: none;
				background-color: #57AE5B;
				height: 72px;

				button {
					color: #ffffff;
					opacity: 1;
				}
			}
			.modal-body {
				padding: 0;
				

				.img-detail-list {
					position: relative;
					width: 100%;
					text-align: center;

					img {
						position: inherit;
					}

					&::before {
						content: '';
						display: block;
						position: absolute;
						width: 100%;
						height: 50%;
						background-color: #57AE5B;
					}
				}
			}
		}
	}
}

#field-page {
	padding-bottom: 100px;

	.title-border-bottom {
		color: #ffffff;
	}
	.des-tech-intro {
		color: #ffffff;
	}
	.nav-tabs {
		margin-bottom: 0;
	}
	.nav-link {
		color: #A3D9A5;
		background: none;

		&.active {
			color: #ffffff;
			&::before {
				background-color: #207227;
			}
		}
		&::before {
			background-color: #C1EAC5;
		}
	}
	.tech-intro {
		display: flex;
		align-items: center;
		margin-bottom: 36px;

		.tech-left {
			width: 33.3%;
		}
		.tech-right {
			width: 66.7%;
		}
	}
	.tech-list {
		display: flex;
		align-items: center;
		position: relative;

		.tech-column-one {
			width: 33.33%;
			margin-right: 64px;
		}
		.tech-column-two {
			width: 33.33%;
		}
		.tech-column-three {
			position: absolute;
			left: calc(66.66% + 50px);
			bottom: 0;
		}
		.tech-item-down {
			margin-top: 64px;
		}
	}
	.tech-item {
		padding: 48px;
		background-color: #ffffff;
		box-shadow: 0px 32px 56px rgba(0, 0, 0, 0.08);
		border-radius: 8px;

		.tech-line {
			height: 8px;
			background: #57AE5B;
			border-radius: 9px;
			width: 64px;
			margin-bottom: 65px;
		}
		.tech-item-title {
			font-weight: bold;
			font-size: 20px;
			line-height: 32px;
			color: #222222;
			margin-top: 56px;
			margin-bottom: 24px;
		}
		.tech-item-des {
			font-size: 14px;
			line-height: 22px;
			color: #515151;
		}
	}
}

.field-project {
	padding-top: 58px;
	padding-bottom: 146px;
	background-color: #f7f7f7;

	.title-field-project {
		font-family: 'EB Garamond', serif;
		font-weight: 600;
		font-size: 56px;
		line-height: 64px;
		color: #222222;
		text-align: center;
		margin-bottom: 104px;

	}

	.slick-dots {
		text-align: center;
		background-color: #f7f7f7;
		border-radius: 8px;
	}
	.slick-slide {
		transition: transform 0.3s ease-out;

		&:hover {
			transform: translateY(-16px);
		}
	}
	.item-news {
		margin-bottom: 10px;
		padding: 0 20px;
		border-radius: 8px;

		.img-news {
			border-radius: 8px;
		}
		.content-news {
			padding: 24px;
			background-color: #ffffff;
			border-radius: 0 0 8px 8px;

			.cate-news {
				margin-top: 0;
			}
			.title-news {
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
			.des-news {
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
			}
		}
	}

	.slide-projects {
		.slick-list {
			padding-top: 16px;
		}
	}
}
.top-page-slide {
	padding-top: 150px;
	padding-bottom: 150px;

	.item-top-slide {
		display: flex;
		align-items: center;
		.text-slide {
			width: 742px;
			margin-right: 70px;
		}

		.title {
			font-family: "EB Garamond", serif;
			font-weight: 600;
			font-size: 32px;
			line-height: 64px;
			text-transform: uppercase;
			margin-bottom: 16px;
			color: #ffffff;
		}
		.content {
			font-family: "EB Garamond", serif;
			font-weight: 600;
			font-size: 72px;
			line-height: 84px;
			color: #57AE5B;
			margin-bottom: 40px;
		}
		.description {
			font-size: 20px;
			line-height: 32px;
			color: #95B5C8;
			margin-bottom: 56px;

			span {
				text-decoration: underline;
				font-weight: bold;
			}
		}
		button {
			display: flex;
			color: #000000;
			align-items: center;
			
			span {
				margin-left: 10px;
			}
		}
		.img-top-slide {
			width: calc(100% - 812px);
			position: relative;

			img {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
}
.top-field {
	padding-top: 160px;
	padding-bottom: 160px;

	.title-top-field {
		margin-bottom: 24px;
		font-family: "EB Garamond", serif;
		font-weight: 600;
		font-size: 56px;
		line-height: 64px;
		color: #222222;
		text-align: center;
	}
	.des-top-field {
		font-size: 20px;
		line-height: 32px;
		color: #626262;
		text-align: center;
		margin-bottom: 52px;
	}
	.list-top-field {
		padding: 16px 56px 0 56px;
	}
	.title-topfield {
		display: block;
		font-family: "EB Garamond", serif;
		font-weight: 600;
		font-size: 24px;
		color: #222222 !important;
		margin-top: 16px;
		margin-bottom: 24px;
		text-align: center;

		img {
			margin-left: 10px;
			display: none;
		}
	}
	.des-topfield {
		font-size: 16px;
		line-height: 25px;
		text-align: center;
		color: #626262;
		height: 75px;
	}
	.item-top-field {
		padding: 40px 40px 56px 40px;
		border-radius: 100px 10px 100px 10px;
		border: 1px solid #eeeeee;
		transition: transform 0.3s ease-out;

		&:hover {
			transform: translateY(-16px);
			box-shadow: 0px 32px 56px rgba(0, 0, 0, 0.08);

			.title-topfield {
				color: #57AE5B !important;
				text-decoration: none;

				img {
					display: inline;
				}
			}
		}
	}
}

.top-content {
	padding-top: 97px;
	background-color: #F8FAFE;
}
.top-intro {
	display: flex;
	margin-bottom: 173px;
}
.text-top-intro {
	padding-top: 48px;
	width: 500px;
	margin-right: 132px;

	.title-1 {
		font-family: "EB Garamond", serif;
		font-weight: 600;
		font-size: 56px;
		color: #222222;
		margin-bottom: 15px;
		line-height: 56px;
	}
	.name {
		font-family: "EB Garamond", serif;
		font-weight: 600;
		font-size: 56px;
		line-height: 56px;
		color: #ffffff;
		padding: 10px 24px;
		width: fit-content;
		background: #57AE5B;
		border-radius: 8px;
		margin-left: -20px;
		margin-bottom: 20px;
	}
	.title-2 {
		font-family: "EB Garamond", serif;
		font-weight: 600;
		font-size: 56px;
		color: #222222;
		margin-bottom: 56px;
		line-height: 56px;
	}
	.description {
		font-size: 16px;
		line-height: 25px;
		color: #626262;
		margin-bottom: 56px;
	}
	.btn {
		padding: 12px 38px;
		background-color: #ffffff;

		&:hover {
			background-color: #28a745;
		}
	}
}
.img-top-intro {
	position: relative;
	width: calc(100% - 632px);

	.img-intro-after {
		float: right;
		border-radius: 16px;
		width: 286px;
	}
	.img-intro-before {
		position: absolute;
		top: 112px;
		right: 88px;
		border-radius: 16px;
		width: 630px;
	}
}
.top-sumarry {
	padding: 48px 0;
	background-color: #ffffff;
	margin-bottom: 160px;

	.col-top-sumary {
		text-align: center;

		img {
			margin-bottom: 32px;
		}
		.number {
			font-weight: bold;
			font-size: 72px;
			line-height: 100%;
			margin-bottom: 24px;
		}
		.name {
			font-size: 20px;
			line-height: 32px;
			color: #515151;
		}
	}
}
.title-top-news {
	font-family: "EB Garamond", serif;
	font-weight: 600;
	font-size: 56px;
	line-height: 64px;
	color: #222222;
	text-align: center;
	margin-bottom: 24px;
}
.slide-top-news {
	margin: 0 100px;

	.item-news {
		padding: 0 20px;
		margin-bottom: 0;

		.content-news {
			padding: 24px;
			background-color: #ffffff;
			border-radius: 0 0 8px 8px;

			.title-news {
				font-size: 16px;
				line-height: 25px;
				margin-bottom: 24px;
			}
		}
		.img-news {
			border-radius: 8px;
		}
	}
	.slick-list {
		padding-top: 16px;
	}
	.slick-slide {
		transition: transform 0.3s ease-out;

		&:hover {
			transform: translateY(-16px);
		}
	}
}
.top-news {
	padding-bottom: 120px;

	.nav-tabs {
		padding: 0 186px;
		margin-bottom: 44px;

		.nav-item {
			.nav-link {
				display: inline;
				color: #626262;

				&.active {
					background-color: initial;
					border-bottom: 2px solid #57AE5B;

					&:before {
						display: none;
					}
				}
				&:before {
					display: none;
				}
			}
			&:last-child {
				flex: 2;
			}
		}
	}
}
.btn-see-more-news {
	font-size: 16px;
	line-height: 25px;
	padding: 12px 54px;
	border-radius: 8px;
	margin-top: 56px;
	text-align: center;
}
.partner-intro {
	padding-top: 112px;
	padding-bottom: 180px;
	border-bottom: 1px solid #dedede;

	.title-border-bottom {
		font-size: 32px;
		font-weight: 600;
		font-family: "EB Garamond", serif;
		color: #222222;
		margin-top: 0;
		text-align: center;
		margin-bottom: 32px;

		&::after {
			margin: auto;
		}
	}
	.des-partner-intro {
		width: 884px;
		font-size: 16px;
		line-height: 25px;
		color: #515151;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 100px;
	}
	.slick-dots {
		text-align: center;
		bottom: -64px;
	}
}
.top-partners {
	background-color: #ffffff;

	.partner-intro {
		padding-top: 88px;
		padding-bottom: 132px;
		border-bottom: none;

		.title-border-bottom {
			font-size: 56px;
			line-height: 64px;
			margin-bottom: 112px;

			&:after {
				display: none;
			}
		}
	}
}
.top-consultation {
	padding-top: 88px;
	padding-bottom: 104px;
	background: #57AE5B;
	text-align: center;

	.title {
		font-family: "EB Garamond", serif;
		font-weight: 600;
		font-size: 56px;
		line-height: 64px;
		color: #ffffff;
		margin-bottom: 16px;
	}
	.description {
		font-size: 16px;
		line-height: 25px;
		color: #EFFCF1;
		margin-bottom: 40px;
	}
	.form-consultation {
		display: flex;
		justify-content: center;

		input {
			width: 312px;
			margin-right: 24px;
			height: 48px;
			padding-left: 24px;
			padding-right: 24px;
			color: #ffffff;
			background-color: rgba(193, 234, 197, 0.56);
			border-radius: 8px;

			&::placeholder {
				color: rgba(255, 255, 255, 0.64);
			}
		}
		.btn {
			width: 154px;
			background-color: #ffffff;
			border-radius: 8px;
			box-shadow: 0px 2px 0px #36883A, inset 0px 2px 0px rgba(0, 0, 0, 0.08);
			color: #57AE5B;
		}
	}
}
.number-detail-job {
	display: flex;

	.item-number-detail {
		display: flex;
		align-items: center;
		margin-right: 48px;

		&:last-child {
			margin-right: 0;
		}

		span {
			margin-left: 16px;
			color: #95B5C8;
			font-size: 16px;
			line-height: 25px;
		}
	}
}
.display-md {
	display: none;
}
.list-job-mb {
	display: none;
}

@media screen and (min-width: 1440px) {
	.container {
		max-width: 1316px;
		padding: 0;
	}
	.title-news-detail {
		font-size: 40px;
		line-height: 64px;
		color: #222222;
		font-weight: bold;
		margin: 24px 0;
	}
	.date-detail-news {
		font-size: 14px;
		line-height: 22px;
		color: #7e7e7e;
		margin-bottom: 24px;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
	.col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
	}
	.container {
		max-width: 936px;
		padding-left: 0;
		padding-right: 0;
	}
	.navbar-top-area {
		background-image: url('../images/bg-header-md.svg');
	}
	#job-detail-page {
		.container-detail-job {
			width: 936px;
		}
		.area-apply {
			padding: 48px 108px;
			margin-top: 48px;

			.title-apply {
				margin-bottom: 40px;
			}
			.btn-upload-file-apply {
				margin-bottom: 3px;
			}
		}
	}
	.logo-img {
		height: 24px;
		line-height: 24px;
	}
	.navbar-top-area {
		.title-page {
			font-size: 40px;
			line-height: 64px;
			margin-top: 120px;
			padding-bottom: 80px;
		}
	}
	.navbar-top-area {
		.navbar {
			padding-top: 24px;

			.navbar-brand {
				margin-right: 62px;
			}
		}
	}
	#contact-page {
		.contact-map {
			iframe {
				height: 465px;
			}
		}
	}
	footer {
		.title-col-footer {
			font-size: 16px;
		}
	}
	#news-page {
		.img-slide-news {
			width: 534px;
		}
		.content-slide-news {
			width: 376px;
		}
		.prev-arrow {
			left: -30px;
		}
		.next-arrow {
			right: -30px;
		}
	}
	#list-job-page {
		.area-list-job {
			width: 936px;
		}
		.form-search-job {
			padding: 40px 57px 47px 57px;

			.search-keyword {
				width: 264px;
			}
			.facilty {
				width: 170px;
			}
			.workarea {
				width: 163px;
			}
		}
	}
	.list-job table {
		thead {
			th {
				padding: 16px 20px;

				&:first-child {
					width: 50%;
				}
			}
		}
		tbody {
			td {
				padding: 32px 24px;
				font-size: 14px;
	
				&:first-child {
					padding-left: 40px;;
				}
				.name-job {
					font-size: 16px;
				}
			}
		}
	}
	#job-page {
		.content-job-page {
			width: 936px;
			padding-top: 88px;

			.title-three-job {
				margin-top: 0;
			}
		}
		.userfind-job {
			padding: 88px 80px 80px 80px;
		}
		.title-feature-job {
			margin-top: 0;
		}
		.view-all-job {
			margin-top: 30px;
		}
		.detail-jobs {
			.content-job-page {
				padding-bottom: 73px;
			}
		}
	}
	.cultural-job {
		padding-top: 0;
		padding-bottom: 0;

		.column-right {
			width: 454px;
		}
	}
	.field-project {
		.content-page {
			width: 936px;
		}
		.prev-arrow {
			left: -30px;
		}
		.next-arrow {
			right: -30px;
		}
	}
	#field-page {
		.tech-intro {
			margin-top: 170px;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.container {
		max-width: 736px;
		// padding-left: 0;
		// padding-right: 0;
	}
	main {
		.prev-arrow {
			left: -30px;
		}
		.next-arrow {
			right: -30px;
		}
	}
	.navbar-top-area {
		background-image: url('../images/bg-header-sm.svg');
	}
	.navbar-top-area .navbar {
		padding-top: 20px;

		.navbar-brand {
			height: 24px;
		}
	}
	.logo-img {
		margin-left: 8px;
		height: 24px;
	}
	.navbar-top-area {
		.title-page {
			font-size: 32px;
			line-height: initial;
			margin-left: -15px;
			margin-top: 58px;
			padding-bottom: 48px;
		}
	}
	#contact-page {
		.form-contact-area {
			width: 610px;
		}
		.form-contact {
			padding-top: 48px;
			padding-bottom: 56px;
		}
		.contact-map {
			iframe {
				height: 267px;
			}
		}
	}
	footer {
		padding-bottom: 0;

		.container {
			padding: 0;
		}
		.logo-footer {
			padding-top: 64px;
			padding-bottom: 40px;
		}
		.col-footer {
			padding-bottom: 56px;
		}
	}
	#news-page {
		.img-slide-news {
			width: 360px;
		}
		.content-slide-news {
			width: 359px;
		}
		.title-slide-news {
			font-size: 24px;
			line-height: 32px;
		}
		.prev-arrow {
			z-index: 2;
			left: 0;
			padding: 12px 8px;
			background-color: #eee;
			top: 32%;
		}
		.next-arrow {
			z-index: 2;
			right: 0;
			padding: 12px 8px;
			background-color: #eee;
			top: 32%;
		}
	}
	#job-detail-page {
		.container-detail-job {
			width: calc(100% - 48px);
			margin-left: 24px;
			margin-right: 24px;
		}
		.area-apply {
			padding: 40px 64px;

			.input-apply-group {
				display: block;

				input {
					width: 49%;

					&:first-child {
						float: left;
						margin-bottom: 24px;
					}
					&:nth-child(2) {
						float: right;
						margin-bottom: 24px;
					}
					&:nth-child(3) {
						float: left;
						margin-bottom: 24px;
					}
				}
				.btn-upload-file-apply {
					float: right;
					width: 49%;
				}
			}
		}
		.display-md {
			display: block;
		}
		.hidden-md {
			display: none;
		}
	}
	#list-job-page {
		.download-cv {
			margin-bottom: 56px;
		}
		.pagination {
			margin-bottom: 0;
		}
		.area-list-job {
			width: 736px;
			padding-top: 48px;
			padding-bottom: 56px;
		}
		.form-search-job {
			padding: 40px 62px;
			
			.title-search-job {
				margin-bottom: 32px;
			}
			form {
				display: block;
			}
			.search-keyword {
				width: 610px;
				margin-bottom: 23px;
			}
			.facilty {
				display: inline-flex;
				width: 180px;
				margin-right: 20px;
			}
			.workarea {
				display: inline-flex;
				width: 180px;
				margin-right: 20px;
			}
			.btn-search-job {
				display: inline-flex;
				width: 202px;
			}
		}
	}
	.list-job table {
		thead {
			th {
				padding: 16px 12px;

				&:first-child {
					width: 48%;
				}
			}
		}
		tbody {
			td {
				padding: 32px 16px;
				font-size: 14px;
	
				.name-job {
					font-size: 16px;
				}
			}
		}
	}
	#job-page {
		.content-job-page {
			width: 736px;
		}
		.userfind-job {
			padding: 72px 64px 70px 64px;

			.des-userfind-job {
				width: initial;
			}
		}
	}
	.field-project {
		.content-page {
			width: 736px;
		}
		padding-bottom: 58px;
		.prev-arrow {
			left: -15px;
		}
		.next-arrow {
			right: -15px;
		}
		.title-field-project {
			font-size: 32px;
			line-height: 64px;
			margin-bottom: 16px;
		}
		.slick-dots {
			bottom: 0;
		}
	}
	#field-page {
		.container {
			padding-left: 0;
			padding-right: 0;
		}
		.tech-intro {
			margin-top: 88px;

			.tech-left {
				width: 374px;
			}
			.tech-right {
				width: calc(100% - 374px);
			}
		}
		.tech-item {
			padding: 48px 24px;
		}
		.tech-list {
			.tech-column-one {
				width: 48%;
				margin-right: 4%;
			}
			.tech-column-two {
				width: 48%;
				margin-right: 0;
			}
			.tech-column-three {
				top: 0;
				right: 50px;
				left: initial;
				bottom: initial;

				img {
					width: 245px;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	main {
		.prev-arrow {
			left: -15px;
		}
		.next-arrow {
			right: -15px;
		}
	}
	.container {
		padding-left: 18px;
		padding-right: 18px;
	}
	#news-detail-page {
		.area-detail-news {
			width: initial;
			padding-left: 18px;
			padding-right: 18px;
		}
	}
	.logo-img {
		margin-left: 2px;
	}
	#contact-page {
		.form-contact-area {
			width: calc(100% - 36px);
		}
		.form-contact {
			padding-top: 48px;
			padding-bottom: 56px;

			.title-contact {
				margin-bottom: 24px;
			}
			button {
				margin-top: 8px;
			}
		}
		.contact-map {
			iframe {
				height: 319px;
			}
		}
	}
	.navbar-top-area {
		.title-page {
			font-size: 24px;
			line-height: 24px;
			margin-top: 60px;
			padding-bottom: 22px;
		}
	}
	footer {
		padding-bottom: 60px;

		.logo-footer {
			padding-top: 40px;
		}
	}
	#news-page {
		.title-slide-news {
			font-size: 24px;
			line-height: 32px;
		}
		.item-slide-news {
			display: block;
		}
		.img-slide-news {
			width: 100%;
		}
		.content-slide-news {
			width: 100%;
			margin-top: 24px;
		}
		.slick-dots {
			text-align: center;
		}
		.prev-arrow {
			left: 5px;
			z-index: 1;
			top: 19%;
		}
		.next-arrow {
			right: 5px;
			z-index: 1;
			top: 19%;
		}
		.nav-tabs {
			justify-content: initial;
			margin-bottom: 40px;
			.nav-item {
				flex: inherit;
				text-align: center;
				padding: 0 8px 16px 8px;

				.nav-link {
					font-size: 16px;
					line-height: 22px;

					&::before {
						padding-top: 4px;
						margin-bottom: 10px;
					}
					&.active {
						&::before {
							padding-top: 4px;
							margin-bottom: 10px;
						}
					}
				}
			}
		}
	}
	.display-md {
		display: block;
	}
	.hidden-md {
		display: none;
	}
	.number-detail-job {
		display: block;
		
		.item-number-detail {
			display: inline-flex;
			width: 32%;
		}
	}
	#job-detail-page {
		padding-bottom: 56px;

		.content-job-detail {
			width: initial;
			padding-left: 18px;
			padding-right: 18px;

			.title-job-detail {
				margin-top: 0;
			}
		}
		.container-detail-job {
			padding-left: 18px;
			padding-right: 18px;
			width: 100%;
		}
		.area-apply {
			padding: 40px 16px 44px 16px;

			.title-apply {
				font-size: 20px;
				line-height: 44px;
				margin-bottom: 28px;
			}
			.input-apply-group {
				display: block;

				input {
					width: 100%;
					margin-bottom: 16px;
				}
				.btn-upload-file-apply {
					margin-bottom: 0;
				}
			}
		}
	}
	.list-job {
		display: none;
	}
	.item-job-mb {
		padding: 24px;
		background: #FFFFFF;
		border-radius: 8px;
		margin-bottom: 24px;

		.name-job-mb {
			font-weight: bold;
			font-size: 16px;
			line-height: 22px;
			color: #000000;
			margin-bottom: 8px;
		}
		.des-job-mb {
			font-size: 14px;
			line-height: 22px;
			color: #626262;
			margin-bottom: 24px;
		}
		.info-job-mb {
			display: flex;
			align-items: center;
			font-size: 16px;
			line-height: 25px;
			color: #222222;
			margin-bottom: 16px;

			&:last-child {
				margin-bottom: 0;
			}
			span {
				margin-left: 16px;
			}
		}
	}
	.navbar-top-area {
		background-color: #00263C;
		background-image: none;
	}
	.list-job-mb {
		display: block;
	}
	#list-job-page {
		.area-list-job {
			width: calc(100% - 36px);
			padding-bottom: 40px;
		}
		.form-search-job {
			padding: 40px 24px 36px 24px;
			margin-bottom: 48px;

			.title-search-job {
				font-size: 20px;
				line-height: 32px;
				margin-bottom: 24px;
			}
			form {
				display: block;

				>div {
					width: 100% !important;
					margin-bottom: 16px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
		.pagination {
			margin-bottom: 0;
		}
		.download-cv {
			margin-bottom: 40px;
		}
	}
	#job-page {
		.content-job-page {
			width: calc(100% - 36px);
			padding-top: 42px;
			padding-bottom: 48px;
		}
		.title-job-page {
			font-size: 20px;
			line-height: 32px;
		}
		.des-job-page {
			width: initial;
		}
		.three-column-job {
			.title-three-job {
				margin-top: 8px;
				margin-bottom: 56px;
			}
			.col-md-4 {
				margin-bottom: 40px;

				&:last-child {
					margin-bottom: 8px;
				}
			}
		}
		.userfind-job {
			width: 100%;
			padding: 48px 24px;

			.des-userfind-job {
				width: initial;
			}
		}
		.skill-job {
			display: block;
			padding-bottom: 0;

			.item-skill-job {
				margin-bottom: 48px;
			}
		}
		.title-feature-job {
			margin-top: 14px;
			margin-bottom: 24px;
			font-size: 20px;
		}
		.view-all-job {
			margin-top: 24px;
		}
	}
	.cultural-job {
		padding-top: 14px;
		padding-bottom: 14px;
		display: block;

		.column-left {
			width: 100%;
			margin-bottom: 30px;
		}
		.column-right {
			width: 100%;
		}
	}
	
}