.navbar-top-area {
    position: relative;
    z-index: 888
}
.introduce-page {
    .container {
        padding: 0 21px;
    }

    .navbar-top-area {
        background-color: #00263C;
        position: relative;
        z-index: 888;
        .title-page {
            margin: 0;
            padding: 0;
        }
        .container {
            padding-top: 60px;
            padding-bottom: 32px;
        }
    }

    .tab-controls {
        margin-bottom: 48px;
        .nav-tabs {
            display: flex;
            flex-wrap: nowrap;
            justify-content: inherit;
            margin: 0;
            .nav-item {
                flex: 1;
                .nav-link {
                    font-family: $f-opensan;
                    font-weight: $fz-op-semibold;
                    font-size: 16px;
                    line-height: 32px;
                    color: $color-intro-tab-normal;
                    transition: all ease .2s;
                    cursor: pointer;
                    &::before {
                        display: block;
                        content: '';
                        margin-bottom: 16px;
                        height: 8px;
                        background: white;
                        transition: all ease .2s;
                        padding: 0;
                        cursor: pointer;
                    }
    
                    &.active, &:hover {
                        color: $text-tech-item-title;
                        &::before {
                            padding: 0;
                            background: $text-item-divider
                        }
                    }
                }
            }
        }
    }

    

    .common-intro-summary {

    }

    .modal-member-detail {
        .modal-dialog {
            max-width: 871px;
            max-height: 852px;
            margin-top: 100px;
            margin-left: 20px;
            margin-right: 20px;
        }
        .modal-content {
            border-radius: 8px;
            overflow: hidden;
            margin-bottom: 78px;
            margin-left: auto;
            margin-right: auto;
        }
        .modal-body {
            position: relative;
            padding: 0;
            padding-bottom: 32px;
            .close {
                position: absolute;
                top: 24px;
                right: 24px;
                opacity: 1;
                svg path {
                    color: white;
                    fill: currentColor;
                }
            }
            .img-detail-list {
                padding: 72px 0 0;
                background: linear-gradient(180deg, rgba(87,174,91,1) 0%, rgba(87,174,91,1) 62.9411764706%, rgba(255,255,255,1) 62.9411764706%, rgba(255,255,255,1) 100%);
                width: 100%;
                display: flex;
                align-items: center;
                img {
                    width: 250px;
                    height: 262px;
                    margin: auto;
                }
            }

            .info-leader {
                .leader-data {
                    max-width: 350px;
                    margin: 24px auto auto;
                    text-align: center;
                    .name-leader {
                        font-family: $f-eb;
                        font-style: normal;
                        font-weight: $fz-eb-semibold;
                        font-size: 20px;
                        line-height: 100%;
                        color: #222222;
                    }

                    .role-company {
                        font-family: $f-opensan;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 25px;
                        color: #9E9E9E;
                        margin-top: 16px;
                        text-transform: uppercase;
                        max-width: 252px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }

            .detail-leader {
                overflow: auto;
                margin: 34px auto auto;
                font-family: $f-opensan;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 32px;
                color: #000000;
                padding: 0 16px;
                > .detail-leader {
                    margin: 0;
                }

                > .scroll-element {
                    background: none;
                    border: none;
                    margin: 0;
                    padding: 0;
                    position: absolute;
                    z-index: 10;
                    
                    div {
                        background: none;
                        border: none;
                        margin: 0;
                        padding: 0;
                        position: absolute;
                        z-index: 10;
                        display: block;
                        height: 100%;
                        left: 0;
                        top: 0;
                        width: 100%;
                    }
                    
                    &.scroll-x {
                        bottom: 2px;
                        height: 7px;
                        left: 0;
                        min-width: 100%;
                        width: 100%;
                    }
                    
                    &.scroll-y {
                        height: 100%;
                        min-height: 100%;
                        right: 2px;
                        top: 0;
                        width: 7px;
                    }
                    
                    .scroll-element_outer {
                        opacity: 0.3;
                        border-radius: 12px;
                    }
                    
                    .scroll-element_size {
                        background-color: #cccccc;
                        opacity: 0;
                        border-radius: 12px;
                        transition: opacity 0.2s;
                    }
                    
                    .scroll-bar {
                        background-color: #6c6e71;
                        -webkit-border-radius: 7px;
                        -moz-border-radius: 7px;
                        border-radius: 7px;
                    }
                    
                    &.scroll-x .scroll-bar {
                        bottom: 0;
                        height: 7px;
                        min-width: 24px;
                        top: auto;
                    }
                    
                    &.scroll-y .scroll-bar {
                        left: auto;
                        min-height: 24px;
                        right: 0;
                        width: 7px;
                    }
                    
                    &.scroll-x .scroll-element_outer {
                        bottom: 0;
                        top: auto;
                        left: 2px;
                        transition: height 0.2s;
                    }
                    
                    &.scroll-y .scroll-element_outer {
                        left: auto;
                        right: 0;
                        top: 2px;
                        transition: width 0.2s;
                    }
                    
                    &.scroll-x .scroll-element_size {
                        left: -4px;
                    }
                    
                    &.scroll-y .scroll-element_size {
                        top: -4px;
                    }
                    
                    &.scroll-x.scroll-scrolly_visible .scroll-element_size {
                        left: -11px;
                    }
                    
                    &.scroll-y.scroll-scrollx_visible .scroll-element_size {
                        top: -11px;
                    }
                    
                    &:hover .scroll-element_outer, &.scroll-draggable .scroll-element_outer {
                        overflow: hidden;
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
                        filter: alpha(opacity = 70);
                        opacity: 0.7;
                    }
                    
                    &:hover .scroll-element_outer .scroll-element_size, &.scroll-draggable .scroll-element_outer .scroll-element_size {
                        opacity: 1;
                    }
                    
                    &:hover .scroll-element_outer .scroll-bar, &.scroll-draggable .scroll-element_outer .scroll-bar {
                        height: 100%;
                        width: 100%;
                        -webkit-border-radius: 12px;
                        -moz-border-radius: 12px;
                        border-radius: 12px;
                    }
                    
                    &.scroll-x {
                        &:hover .scroll-element_outer, &.scroll-draggable .scroll-element_outer {
                        height: 20px;
                        min-height: 7px;
                        }
                    }
                    
                    &.scroll-y {
                        &:hover .scroll-element_outer, &.scroll-draggable .scroll-element_outer {
                        min-width: 7px;
                        width: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: $break-sm) {
    .introduce-page {
        .container {
            max-width: 100%;
        }
    }
}

@media (min-width: $break-md) {
    .introduce-page {
        .container {
            max-width: 736px;
            padding: 0;
        }

        .navbar-top-area {
            background: url('/images/introduce/square-header1-lg.svg'), url('/images/introduce/square-header2.svg');
            background-color: #00263C;
            background-position: bottom -100% left -5%, top 40% right 20%;
            background-repeat: no-repeat;
            .container {
                padding: 60px 0;
            }
        }

        .tab-controls {
            margin-bottom: 72px;
            .container {
                padding: 0;
            }
            .nav-tabs {
                .nav-item {
                    .nav-link {
                        font-size: 20px;
                        line-height: 32px;
                        &::before {
                            margin-bottom: 24px;
                        }
                    }
                }
            }
        }

        .modal-member-detail {
            .modal-dialog {
                margin: 50px auto;
            }
            .modal-content {
                margin-bottom: 0;
                max-width: calc(100% - 50px);
            }

            .modal-body {
                padding-bottom: 47px;
                .img-detail-list {
                    img {
                        width: 252px;
                        height: 264px;
                    }
                }

                .detail-leader {
                    max-width: 100%;
                    padding: 0 62px;
                    > .detail-leader {
                        margin: 0;
                    }
                }
            }
        }
    }
}

@media (min-width: $break-lg) {
    .introduce-page {
        .container {
            max-width: 936px;
        }

        .navbar-top-area {
            background-repeat: no-repeat;
            background-size: 140px, 104px, 94px, 100% 16px,100%;
            .container {
                padding-top: 132px;
                padding-bottom: 100px;
            }
        }

        .tab-controls {
            margin-bottom: 88px;
            .nav-tabs {
                .nav-item {
                    .nav-link {
                        &::before {
                            margin-bottom: 27px;
                        }
                    }
                }
            }
        }

        .modal-member-detail {
            .modal-body {
                .detail-leader {
                    max-height: 350px;
                    max-width: calc(100% - 48px);
                    padding: 0 80px;
                }
            }
        }
    } 
}
@media (min-width: $break-mid-lg) {
    .introduce-page {
        .tab-controls {
            margin-bottom: 136px;
        }

    }   
}
@media (min-width: $break-xl) {
    .introduce-page {
        .container {
            max-width: 1320px;
        }
        .navbar-top-area {
            background: linear-gradient(90deg, rgb(0, 38, 60) 0%, rgb(0, 38, 60) 1492.5px, rgb(87, 174, 91) 1492.5px, rgb(87, 174, 91) 100%);
            background-size: 196px 192px, 104px, 123px, 100% 24px, 100%;
            background-repeat: no-repeat;

            .container {
                padding-top: 150px;
                padding-bottom: 120px;
            }
        }
        
        .tab-controls {
            margin-bottom: 136px;
            .nav-tabs {
                .nav-item {
                    .nav-link {
                        &::before {
                        }
                    }
                }
            }
        }

        .modal-member-detail {
            .modal-dialog {
                max-width: 871px;
                max-height: 852px;
            }
            .modal-content {
                border-radius: 8px;
                overflow: hidden;
            }
            .modal-body {
                position: relative;
                padding-bottom: 47px;
                .close {
                    position: absolute;
                    top: 24px;
                    right: 24px;
                    opacity: 1;
                    svg path {
                        color: white;
                        fill: currentColor;
                    }
                }
                .img-detail-list {
                    padding: 72px 0 0;
                    background: linear-gradient(180deg, rgba(87,174,91,1) 0%, rgba(87,174,91,1) 62.9411764706%, rgba(255,255,255,1) 62.9411764706%, rgba(255,255,255,1) 100%);
                    width: 100%;
                    display: flex;
                    align-items: center;
                    img {
                        width: 252px;
                        height: 264px;
                        margin: auto;
                    }
                }

                .info-leader {
                    .leader-data {
                        max-width: 350px;
                        margin: 24px auto auto;
                        text-align: center;
                        .name-leader {
                            font-family: $f-eb;
                            font-style: normal;
                            font-weight: $fz-eb-semibold;
                            font-size: 20px;
                            line-height: 100%;
                            color: #222222;
                        }

                        .role-company {
                            font-family: $f-opensan;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 25px;
                            color: #9E9E9E;
                            margin-top: 10px;
                            text-transform: uppercase;
                            max-width: 252px;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }

                .detail-leader {
                    max-height: 350px;
                    max-width: calc(100% - 48px);
                    padding: 0 80px;
                    overflow: auto;
                    margin: 32px auto auto;
                    font-family: $f-opensan;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 32px;
                    color: #000000;
                    > .detail-leader {
                        margin: 0;
                    }
                }
            }
        }
    }   
}

@import "./introduce/section_intro";
@import "./introduce/section_summary";
@import "./introduce/section_mission";
@import "./introduce/section_core";
@import "./introduce/section_history";
@import "./introduce/section_partner";
@import "./introduce/section_intro_leader";
@import "./introduce/section_member";