#news-page {
	background-color: #ffffff;
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 160px;
    .pagination {
		margin: 0;
	}
	
	.navtab-custom {
		margin-bottom: 88px;
		.nav-tabs {
			flex-wrap: nowrap;
			margin-bottom: 0;
		}
		.nav-item {
			border-top: solid 8px transparent;
			transition: all ease .2s;
			flex: 1;
			&.active, &:hover {
				border-top: solid 8px #57AE5B;
				.nav-link {
					color: #222222;
					font-weight: 600;
				}
			}
			.nav-link {
				padding-top: 27px;
				font-size: 20px;
				line-height: 32px;
				color: #7E7E7E;
				white-space: nowrap;
				font-weight: normal;
				&::before {
					display: none;
				}
			}
		}
	}

	.news-slide {
		padding-bottom: 114px;
		position: relative;

		.prev-arrow, .next-arrow {
			cursor: pointer;
			z-index: 10;
		}
		.prev-arrow {
			left: -57px;
		}
		.next-arrow {
			right: -57px;
		}

		.title-slide-news {
			font-size: 32px;
			line-height: 48px;
			font-weight: 600;
			font-family: $f-eb;
			color: #222222;
			margin: 24px 0 16px;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			max-height: 96px;
		}
		.des-slide-news {
			font-size: 16px;
			line-height: 25px;
			color: #515151;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			max-height: 75px;
		}
		.date-slide-news {
			font-size: 14px;
			line-height: 22px;
			color: #7E7E7E;
			margin-top: 24px;
		}

		.tag-news {
			margin: 0;
		}

		.item-slide {
			text-decoration: none;
			padding-left: 3px;
			&.slick-current, &.slick-active {
				opacity: 1;
			}
		}

		.img-slide-news {
			width: 760px;
			background-size: 0;
			background-position: center;
		}
		.content-slide-news {
			width: 496px;
			align-self: center;
		}

		.slick-dots {
			position: absolute;
			top: inherit;
			bottom: 72px;
			left: 3px;
			height: inherit;
			background: none;
			// margin: 40px 0 72px;
		}
	}

	.item-slide-news {
		display: flex;
		justify-content: space-between;
	}
	
	.item-news {
		margin-bottom: 0;
		display: inline-block;
		.title-news {
			font-weight: bold;
			font-size: 20px;
			line-height: 32px;
		}
		.des-news {
			-webkit-line-clamp: 3;
			max-height: 66px;
		}

		.cate-news {
			font-size: 12px;
			line-height: 18px;
			color: #626262;
			margin-top: 24px;
			margin-bottom: 16px;
		}
	}

	.list-news {
		margin-left: -12px;
		margin-right: -12px;
		margin-bottom: 8px;
		display: flex;
		flex-wrap: wrap;
		.col-item-news {
			padding: 0 12px;
			flex: 0 0 100%;
			max-width: 33.3333333333%;
			margin-bottom: 64px;
		}
	}

	.slick-dotted.slick-slider {
		margin-bottom: 0;
	}
}

@media (max-width: 1439px) {
    #news-page {
		.navtab-custom {
			margin-bottom: 60px;
			.nav-item {
				.nav-link {
					padding-top: 32px;
				}
			}
		}

		.news-slide {
			padding-bottom: 90px;
			.prev-arrow {
				left: -48px;
			}
			.next-arrow {
				right: -48px;
			}

			.img-slide-news {
				width: 534px;
			}
			.content-slide-news {
				width: 376px;
			}

			.slick-dots {
				//margin: 32px 0 56px;
				bottom: 56px;
			}
		}
        
		.prev-arrow {
			left: -30px;
		}
		.next-arrow {
			right: -30px;
		}

		.list-news {
			.col-item-news {
				margin-bottom: 48px;
			}
		}

		.item-news {
			.title-news {
				font-weight: bold;
				font-size: 16px;
				line-height: 22px;
			}
			.cate-news {
				margin-top: 16px;
				margin-bottom: 16px;
			}
		}
    }
}

@media (max-width: 1023px) {
	#news-page {
		.container {
			max-width: calc(100% - 48px);
		}
		.navtab-custom {
			margin-bottom: 40px;
			.nav-item {
				.nav-link {
					padding-top: 24px;
				}
			}
		}

		.news-slide {
			padding-bottom: 82px;
			.prev-arrow, .next-arrow {
				width: 32px;
				height: 90px;
				display: flex;
				align-items: center;
				justify-content: center;
				background: rgba(34, 34, 34, .08);
				border-radius: 4px;
			}
			.prev-arrow {
				left: 0;
			}
			.next-arrow {
				right: 0;
			}

			.img-slide-news {
				width: 48%;
				display: flex;
				align-items: center;
				background-size: cover;
				background-position: center;
				img {
					opacity: 0;
				}
			}
			.content-slide-news {
				flex: 1;
				padding-left: 16px;
			}

			.slick-dots {
				// margin: 24px 0 56px;
				bottom: 56px;
			}

			.title-slide-news {
				font-size: 24px;
				line-height: 32px;
			}
		}

		.list-news {
			margin-left: -8px;
			margin-right: -8px;
			margin-bottom: 8px;
			.col-item-news {
				padding: 0 8px;
				max-width: 50%;
				margin-bottom: 48px;
			}
		}

		.item-news {
			.title-news {
				font-weight: bold;
				font-size: 16px;
				line-height: 22px;
			}
		}
		.pagination {
			margin-bottom: 56px;
        }
        
		.title-slide-news {
			font-size: 24px;
			line-height: 32px;
		}
    }
}

@media (max-width: 767px) {
    #news-page {
		.container {
			max-width: 100%;
		}
		.navtab-custom {
			overflow-x: auto;
			margin-bottom: 44px;
			.nav-item {
				flex: none;
				display: inline-block;
				.nav-link {
					padding-left: 25px;
					padding-right: 25px;
					padding-top: 14px;
					font-size: 16px;
					line-height: 25px;
				}
			}
		}

		.news-slide {
			.prev-arrow, .next-arrow {
				top: 0%;
				transform: none;
			}
			.prev-arrow {
				left: 0;
			}
			.next-arrow {
				right: 0;
			}

			.slick-dots {
				text-align: center;
				// margin: 32px 0 48px;
				bottom: 48px;
			}

			.item-slide {
				padding: 0;
			}

			.img-slide-news {
				width: 100%;
			}
			.content-slide-news {
				flex: inherit;
				padding: 0;
				width: 100%;
				margin-top: 24px;
			}
		}

		.list-news {
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 40px;
			.col-item-news {
				padding: 0;
				max-width: 100%;
				margin-bottom: 48px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		.title-slide-news {
			font-size: 24px;
			line-height: 32px;
		}
		.item-slide-news {
			display: block;
		}

		.item-news {
			.title-news {
				font-weight: bold;
				font-size: 16px;
				line-height: 22px;
			}
		}
	}
}