$mainColor: #ff250d;
$subColor: #fff933;
$background: #f8f9fa;

@CHARSET "UTF-8";

.hidden {
	display: none;
}

.shown {
	display: block;
}

body {
	width: 100%;
	overflow-x: hidden;
	font-family: "Roboto-Light";
}

.font-roboto {
	font-family: "Roboto";
}